<template>
  <v-layout>
    <v-main class="main-container">
      <v-container
        class="ma-2"
        fluid
      >
        <v-form
          v-model="valid"
          @submit.prevent="updateCategory()"
        >
          <v-row>
            <v-col
              cols="3"
              class="pt-0 ps-0"
            >
              <h2 v-if="!updateMode">
                {{ category.name }} (Catégorie)
              </h2>
              <v-text-field
                v-else
                v-model="updatedName"
                :variant="variant"
                :readonly="!updateMode"
                :rules="textRules"
                hide-details
              />
              <v-divider class="border-opacity-25" />
            </v-col>
            <v-col
              align="right"
              class="pt-0"
            >
              <v-btn
                v-if="updateMode"
                color="success"
                :disabled="!valid"
                type="submit"
              >
                Confirmer
              </v-btn>
              <v-btn
                class="ms-2"
                color="warning"
                @click="toggleUpdateMode()"
              >
                {{ updateMode ? "Annuler" : "Modifier" }}
              </v-btn>
            </v-col>
          </v-row>

          <v-row
            no-gutter
            align="start"
          >
            <v-col cols="2">
              Description :
            </v-col>
            <v-col
              class="pa-0"
              cols="6"
            >
              <v-text-field
                v-model="updatedDescription"
                :variant="variant"
                :readonly="!updateMode"
                density="compact"
                hide-details
                :rules="textRules"
              />
            </v-col>
          </v-row>

          <v-row
            no-gutter
            align="start"
          >
            <v-col cols="3">
              Nombre minimal d'équipiers :
            </v-col>
            <v-col
              cols="5"
              class="pa-0"
            >
              <v-text-field
                v-model.number="updatedMinTeamMembers"
                :variant="variant"
                :readonly="!updateMode"
                density="compact"
                :rules="numberRules"
                :hide-details="!updateMode"
              />
            </v-col>
          </v-row>
          <v-row
            no-gutter
            align="start"
          >
            <v-col cols="3">
              Nombre maximal d'équipiers :
            </v-col>
            <v-col
              cols="5"
              class="pa-0"
            >
              <v-text-field
                v-model.number="updatedMaxTeamMembers"
                :variant="variant"
                :readonly="!updateMode"
                density="compact"
                :rules="numberRules"
                :hide-details="!updateMode"
              />
            </v-col>
          </v-row>
        </v-form>
        <v-row class="pt-5">
          <h4>Courses</h4>
          <v-divider class="border-opacity-25 pb-2" />
        </v-row>
        <v-row>
          <v-data-table
            items-per-page="5"
            :headers="headers"
            :items="category.races"
            item-value="id"
            class="elevation-1"
            density="compact"
          >
            <template #[`item.name`]="{ item }">
              <NuxtLink :to="'/admin/races/' + item.id">
                {{ item.name }}
              </NuxtLink>
            </template>
          </v-data-table>
        </v-row>
      </v-container>
    </v-main>
  </v-layout>
</template>

<script setup lang="ts">
import { type Category } from "@overrun/types";
definePageMeta({
  layout: "admin-layout",
});
const route = useRoute();
const categoryStore = useCategoryStore();
const category = computed(() => categoryStore.category);

const updateMode = ref(route.query.update === "true");
const variant = ref((updateMode.value ? "outlined" : "plain") as variantType);
const updatedMaxTeamMembers = ref(1);
const updatedMinTeamMembers = ref(1);
const valid = ref(false);
const updatedName = ref("");
const updatedDescription = ref("" as Category["description"]);

const categoryId = parseInt(route.params.id.toString());
const sizeRule = (value: number) =>
  categorySize(
    value,
    false,
    updatedMinTeamMembers.value,
    updatedMaxTeamMembers.value,
  );
const textRules = [required];
const numberRules = [required, sizeRule, strictPositiveNumber];
const headers = [
  { title: "Course", align: "center", key: "name" },
] as TableHeaders;

await categoryStore.setCategoryById(categoryId);
resetUpdatedCategory();

function toggleUpdateMode() {
  updateMode.value = !updateMode.value;
  variant.value = updateMode.value ? "outlined" : "plain";
  resetUpdatedCategory();
}

function resetUpdatedCategory() {
  updatedName.value = category.value.name;
  updatedDescription.value = category.value.description;
  updatedMinTeamMembers.value = category.value.minTeamMembers;
  updatedMaxTeamMembers.value = category.value.maxTeamMembers;
}

async function updateCategory() {
  if (updateMode.value) {
    await categoryStore.updateCategory(categoryId, {
      ...category.value,
      name: updatedName.value,
      description: updatedDescription.value,
      minTeamMembers: updatedMinTeamMembers.value,
      maxTeamMembers: updatedMaxTeamMembers.value,
    });
    resetUpdatedCategory();
  }
  toggleUpdateMode();
}
</script>
