<template>
  <v-layout>
    <v-main class="main-container">
      <v-dialog v-model="showCreate">
        <ModalCreateCategory
          v-show="showCreate"
          @close-create-category-modal="showCreate = false"
        />
      </v-dialog>
      <v-container
        class="ma-2"
        fluid
      >
        <v-row>
          <v-col
            cols="3"
            class="pt-0 ps-0"
          >
            <h2>Catégories</h2>
            <v-divider class="border-opacity-25" />
          </v-col>
        </v-row>
        <v-row
          justify="end"
          class="pb-3 pe-3"
        >
          <v-btn
            color="info"
            @click="showCreate = true"
          >
            Ajouter
          </v-btn>
          <v-btn
            color="error"
            @click="deleteMultipleCategories(selectedIdList)"
          >
            Supprimer
          </v-btn>
          <v-btn
            icon="mdi-refresh"
            color="blue-lighten-4"
            size="x-small"
            class="ms-3"
            @click="
              categoryStore.refreshCategoriesFromEdition({
                editionId,
                forceReload: true,
              })
            "
          />
        </v-row>
        <v-data-table
          v-model="selectedIdList"
          :headers="headers"
          :items="categories"
          item-value="id"
          :hide-default-footer="false"
          :disable-pagination="true"
          class="elevation-1 ma-2"
          show-select
        >
          <template #[`item.name`]="{ item }">
            <NuxtLink :to="'/admin/categories/' + item.id">
              {{ item.name }}
            </NuxtLink>
          </template>
          <template #[`item.minTeamMembers`]="{ item }">
            <div v-if="item.minTeamMembers === item.maxTeamMembers">
              {{ item.minTeamMembers }}
            </div>
            <div v-else>
              {{ item.minTeamMembers }} - {{ item.maxTeamMembers }}
            </div>
          </template>
          <template #[`item.controls`]="{ item }">
            <v-btn
              class="ma-1"
              color="warning"
              :to="'/admin/categories/' + item.id + '?update=true'"
            >
              Modifier
            </v-btn>
            <v-btn
              color="error"
              @click="deleteSingleCategory(item)"
            >
              Supprimer
            </v-btn>
          </template>
          <template #bottom />
        </v-data-table>
      </v-container>
    </v-main>
  </v-layout>
</template>

<script setup lang="ts">
import type { Category } from "@overrun/types";

definePageMeta({
  layout: "admin-layout",
});

const editionId = useEditionStore().activeEdition.id;
const categoryStore = useCategoryStore();
const categories = computed(() => categoryStore.categories);
categoryStore.refreshCategoriesFromEdition({ editionId });

const selectedIdList = ref([] as number[]);
const showCreate = ref(false);

const headers = [
  {
    title: "Nom",
    align: "center",
    key: "name",
  },
  { title: "Taille de l'équipe", align: "center", key: "minTeamMembers" },
  {
    title: "Description",
    align: "center",
    key: "description",
    sortable: false,
  },
  { title: "Actions", key: "controls", sortable: false, align: "center" },
] as TableHeaders;

async function deleteSingleCategory(c: Category) {
  await categoryStore.deleteSingleCategory(c.id);
  selectedIdList.value = selectedIdList.value.filter((val) => val !== c.id);
}
async function deleteMultipleCategories(ids: number[]) {
  await categoryStore.deleteMultipleCategories(ids);
  selectedIdList.value = [];
}
</script>
