<template>
  <v-layout>
    <v-app-bar color="#374785">
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-app-bar-title text="OverRun" />
      <v-app-bar-title :text="getOverRunVersion" />
      <v-app-bar-title :text="getEdition" />
      <template #append>
        <ProfilePicture size="small" />
        <span class="mx-2">
          {{ oidc.user.value?.userInfo?.name }}
        </span>
        <v-icon
          class="me-2"
          icon="mdi-logout"
          @click="handleLogout(oidc)"
        />
      </template>
    </v-app-bar>
    <v-navigation-drawer
      color="#374785"
      :rail="drawer"
    >
      <v-list>
        <v-list-item
          link
          to="/"
          prepend-icon="mdi-home"
          title="Dashboard"
        />
        <v-list-group>
          <template #activator="{ props }">
            <v-list-item
              v-bind="props"
              prepend-icon="mdi-timer"
              title="Courses"
            />
          </template>

          <v-list-item
            link
            to="/admin/races"
            title="Courses"
          />
          <v-list-item
            link
            to="/admin/categories"
            title="Catégories"
          />
          <v-list-item
            link
            to="/admin/disciplines"
            title="Disciplines"
          />
        </v-list-group>
        <v-list-item
          link
          to="/admin/inscriptions"
          prepend-icon="mdi-run"
          title="Inscriptions"
        />
        <v-list-item
          link
          to="/admin/teams"
          prepend-icon="mdi-account-group"
          title="Équipes"
        />
        <v-list-item
          link
          to="/admin/payments"
          prepend-icon="mdi-currency-eur"
          title="Paiements"
        />
        <v-divider />
        <v-list-item
          link
          to="/admin/users"
          prepend-icon="mdi-account-cog"
          title="Utilisateurs"
        />
        <v-list-group>
          <template #activator="{ props }">
            <v-list-item
              v-bind="props"
              prepend-icon="mdi-security"
              title="Admins"
            />
          </template>

          <v-list-item
            link
            to="/admin/admins"
            title="Administrateurs"
          />
          <v-list-item
            link
            to="/admin/admin-invites"
            title="Invitations"
          />
        </v-list-group>
        <v-list-item
          link
          to="/admin/editions"
          prepend-icon="mdi-calendar"
          title="Éditions"
        />
      </v-list>
    </v-navigation-drawer>
    <v-main>
      <slot />
    </v-main>
  </v-layout>
</template>

<script setup lang="ts">
const editionStore = useEditionStore();
const getEdition = computed(() => editionStore.activeEdition.name);
const runTimeConfig = useRuntimeConfig();
const getOverRunVersion = runTimeConfig.public.version;
const drawer = ref(true);
const oidc = useOidcAuth();
</script>
