<template>
  <v-layout>
    <v-app-bar color="#374785">
      <v-app-bar-title :text="edititonName" />
      <template #prepend>
        OverRun
        <v-icon
          class="me-2"
          icon="mdi-bike"
          size="x-small"
        />
      </template>
      <template #append>
        <ProfilePicture size="small" />
        <span class="mx-2">
          {{ oidc.user.value?.userInfo?.name }}
        </span>
        <v-icon
          class="me-2"
          icon="mdi-logout"
          @click="handleLogout(oidc)"
        />
      </template>
    </v-app-bar>
    <v-main>
      <slot />
    </v-main>
  </v-layout>
</template>

<script setup lang="ts">
const editionStore = useEditionStore();
const edititonName = computed(() => editionStore.activeEdition.name);
const oidc = useOidcAuth();
</script>
