<template>
  <v-card
    elevation="6"
    variant="tonal"
    :color="statusColor({ va: !!va })"
  >
    <v-card-title>Carte Vie Associative</v-card-title>
    <v-card-text>
      <ChipValidated
        v-if="va"
        feminine
      />
      <ChipWaiting v-if="!va">
        Non renseignée
      </ChipWaiting>
    </v-card-text>
    <v-card-actions>
      <v-btn
        v-if="!disableAction"
        @click="openModal()"
      >
        Renseigner ma carte VA
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script setup lang="ts">
import { InscriptionStatus } from "@overrun/types";

const props = defineProps({
  va: Boolean,
  inscription: {
    type: String as PropType<InscriptionStatus>,
    required: true,
  },
});
const emit = defineEmits({
  "open-modal-va": null,
});

const disableAction = computed(
  () =>
    props.inscription === InscriptionStatus.CANCELLED ||
    props.inscription === InscriptionStatus.CANCEL_ASKED ||
    props.va,
);

function openModal() {
  emit("open-modal-va");
}
</script>
