<template>
  <v-card
    elevation="6"
    variant="tonal"
    :color="color"
  >
    <v-card-title>
      Certificat médical
      <v-icon
        v-if="status !== null"
        size="x-small"
        class="ma-1"
        icon="mdi-eye-outline"
        @click="() => openDrawer()"
      />
      <a
        v-if="status !== null"
        :href="FileRepository.getCertificateFileUrl()"
        download="overrun-certificat"
        target="_blank"
      ><v-icon
        size="x-small"
        class="ma-1"
        icon="mdi-tray-arrow-down"
        :color="color"
      /></a>
    </v-card-title>
    <v-card-text>
      <ChipRefused v-if="status === null">
        Certificat manquant
      </ChipRefused>
      <ChipRefused v-if="status === CertificateStatus.REFUSED" />
      <ChipWaiting v-if="status === CertificateStatus.PENDING">
        En attente de validation
      </ChipWaiting>
      <ChipValidated v-if="status === CertificateStatus.VALIDATED" />
    </v-card-text>
    <v-card-actions>
      <v-btn
        v-if="!disableAction"
        @click="openModal()"
      >
        {{ textBtn }}
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script setup lang="ts">
import { CertificateStatus, InscriptionStatus } from "@overrun/types";
import type { PropType } from "vue";

const drawer = useDrawer();

const props = defineProps({
  status: {
    type: String as PropType<CertificateStatus>,
    required: false,
    default: null,
  },
  inscription: {
    type: String as PropType<InscriptionStatus>,
    required: true,
  },
});

const textBtn = computed(() => {
  switch (props.status) {
    case CertificateStatus.PENDING:
    case CertificateStatus.REFUSED:
      return "Modifier mon certificat";
    case CertificateStatus.VALIDATED:
      return "";
    default:
      return "Ajouter mon certificat";
  }
});

const color = computed(() => statusColor({ certificate: props.status }));

const emit = defineEmits({
  "open-modal-certificate": null,
});

const disableAction = computed(
  () =>
    props.inscription === InscriptionStatus.CANCELLED ||
    props.inscription === InscriptionStatus.CANCEL_ASKED,
);

function openModal() {
  emit("open-modal-certificate");
}
function openDrawer() {
  FileRepository.getCertificateFile().then((data) =>
    drawer.openDrawer(data, "Certificat"),
  );
}
</script>
