<template>
  <v-card
    elevation="6"
    variant="tonal"
    :color="statusColor({ payment: status })"
  >
    <v-card-title>
      Paiement
      <a
        v-if="payment?.helloassoPaymentReceiptUrl"
        :href="payment?.helloassoPaymentReceiptUrl"
        download="overrun-certificat"
        target="_blank"
      ><v-icon
        size="x-small"
        class="ma-1"
        icon="mdi-tray-arrow-down"
        :color="color"
      /></a>
    </v-card-title>
    <v-card-text>
      <ChipWaiting v-if="color === 'warning'">
        {{ textChip }}
      </ChipWaiting>
      <ChipValidated v-if="color === 'success'">
        {{ textChip }}
      </ChipValidated>
      <ChipRefused v-if="color === 'error'">
        {{ textChip }}
      </ChipRefused>
      <v-chip v-if="color === 'info'">
        {{ textChip }}
      </v-chip>
      <v-chip class="ms-1">
        {{ amount }}€ ({{ !inscription?.va ? "non " : "" }}VA)
      </v-chip>

      <CountdownTimer
        v-if="showTimer && !fromHelloasso"
        :end="payment?.helloassoCheckoutExpiresAt"
        minutes
        seconds
        label="Temps pour finaliser le paiement"
      />
    </v-card-text>
    <v-card-actions>
      <v-btn
        v-if="!disabledAction"
        :loading="status === PaymentStatus.PENDING && fromHelloasso"
        @click="onClick"
      >
        {{ textAction }}
        <template #loader>
          <v-progress-circular
            indeterminate
            style="margin-right: 5px"
          />
          Vérification en cours
        </template>
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script setup lang="ts">
import { PaymentStatus, InscriptionStatus } from "@overrun/types";

const emit = defineEmits({
  "open-modal-payment": null,
});

const userStore = useUserStore();

const route = useRoute();
const fromHelloasso = !!route.query.type;

const color = computed(() => statusColor({ payment: status.value }));
const inscription = computed(() => userStore.getMe.currentInscription);
const payment = computed(() => inscription.value?.payment);
const status = computed(
  () => payment.value?.status ?? PaymentStatus.NOT_STARTED,
);

const delta = computed(
  () =>
    new Date(payment.value?.helloassoCheckoutExpiresAt ?? "").getTime() -
    new Date().getTime(),
);
const showTimer = computed(
  () =>
    inscription.value &&
    !(inscription.value?.status === InscriptionStatus.CANCEL_ASKED) &&
    !(inscription.value?.status === InscriptionStatus.CANCELLED) &&
    payment.value?.status === PaymentStatus.PENDING &&
    delta.value > 0,
);
const timeout = showTimer.value ? setTimeout(stopTimer, delta.value) : null;

const amount = computed(() =>
  inscription.value?.va
    ? centsToEuros(inscription.value?.race.vaRegistrationPrice ?? 0)
    : centsToEuros(inscription.value?.race.registrationPrice ?? 0),
);

const textAction = computed(() => {
  switch (status.value) {
    case PaymentStatus.NOT_STARTED:
      return "Réaliser mon paiement";
    case PaymentStatus.PENDING:
      return showTimer.value
        ? "Finaliser mon paiement"
        : "Réaliser mon paiement";
    case PaymentStatus.VALIDATED:
      return "Demande de remboursement";
    default:
      return "";
  }
});

const textChip = computed(() => {
  switch (status.value) {
    case PaymentStatus.NOT_STARTED:
      return "À réaliser";
    case PaymentStatus.PENDING:
      return showTimer.value || fromHelloasso ? "En cours" : "À réaliser";
    case PaymentStatus.REFUND:
      return "Remboursé";
    case PaymentStatus.REFUNDING:
      return "Remboursement demandé";
    case PaymentStatus.VALIDATED:
      return "Validé";
    case PaymentStatus.REFUSED:
      return "Refusé";
    default:
      return "À réaliser";
  }
});

const disabledAction = computed(() => {
  return (
    !inscription.value?.status ||
    status.value === PaymentStatus.REFUSED ||
    status.value === PaymentStatus.REFUND ||
    status.value === PaymentStatus.REFUNDING ||
    status.value === PaymentStatus.VALIDATED ||
    inscription.value?.status === InscriptionStatus.CANCELLED ||
    inscription.value?.status === InscriptionStatus.CANCEL_ASKED
  );
});

const onClick = () => {
  if (
    status.value === PaymentStatus.PENDING &&
    showTimer.value &&
    payment.value?.helloassoCheckoutIntentUrl
  ) {
    navigateTo(payment.value.helloassoCheckoutIntentUrl, { external: true });
  } else if (!disabledAction.value) {
    openModal();
  }
};

function openModal() {
  emit("open-modal-payment");
}

function stopTimer() {
  if (timeout !== null) clearTimeout(timeout);
}

onBeforeRouteLeave((_from, _to, next) => {
  stopTimer();
  next();
});
</script>
