<template>
  <v-card
    elevation="6"
    variant="tonal"
    :color="statusColor({ inscription: status })"
  >
    <v-card-title>Inscription</v-card-title>
    <v-card-text>
      <ChipRefused v-if="status === InscriptionStatus.CANCELLED">
        Annulée
      </ChipRefused>
      <ChipValidated
        v-if="status === InscriptionStatus.VALIDATED"
        feminine
      />
      <ChipWaiting v-if="status === InscriptionStatus.PENDING">
        En attente de validation
      </ChipWaiting>
      <ChipRefused v-if="status === InscriptionStatus.CANCEL_ASKED">
        Annulation en cours
      </ChipRefused>
    </v-card-text>
    <v-card-actions>
      <v-btn
        v-if="canCancel"
        @click="emit('open-modal-cancel')"
      >
        Demande d'annulation
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script setup lang="ts">
import { InscriptionStatus } from "@overrun/types";

const props = defineProps({
  status: {
    type: String as PropType<InscriptionStatus>,
    default: InscriptionStatus.PENDING,
    required: true,
  },
});
const emit = defineEmits({
  "open-modal-cancel": null,
});

const canCancel = computed(
  () =>
    props.status === InscriptionStatus.PENDING ||
    props.status === InscriptionStatus.VALIDATED,
);
</script>
