<template>
  <SnackBar
    v-model="snackbar.open"
    :color="snackbar.color"
    :msg="snackbar.text"
  />
  <v-layout>
    <FileDrawer
      v-model="drawer.open"
      :src="drawer.src"
      :title="drawer.title"
    />
    <NuxtLayout>
      <NuxtPage />
    </NuxtLayout>
  </v-layout>
</template>

<script setup lang="ts">
const snackbar = computed(() => useSnackbar().getSnackbarStatus);
const drawer = computed(() => useDrawer().getDrawerStatus);
</script>

<style>
.main-container {
  height: calc(100vh - 60px);
  background: #eee;
  overflow-x: hidden;
}
</style>
