<template>
  <v-stepper v-model="currentStep">
    <template #default="{ prev }">
      <v-stepper-header>
        <template
          v-for="(step, idx) in steps"
          :key="step.code"
        >
          <v-stepper-item
            :value="step.code"
            :title="step.label"
            :complete="completed[step.code as Step].value"
          >
            <template #icon="{ hasCompleted }">
              <div v-if="!hasCompleted">
                {{ idx + 1 }}
              </div>
              <v-icon
                v-else
                icon="mdi-check"
              />
            </template>
          </v-stepper-item>
          <v-divider v-if="idx < steps.length - 1" />
        </template>
      </v-stepper-header>

      <v-stepper-window>
        <v-stepper-window-item
          v-for="step in steps"
          :key="step.code"
          :value="step.code"
        >
          <InscriptionTeam
            v-if="step.code === Step.TEAM"
            @register="(val) => onRegister(val)"
          />
          <InscriptionTeamInvitation
            v-if="step.code === Step.INVITE"
            :token="teamToken"
          />
          <InscriptionVA
            v-if="step.code === Step.VA"
            :mail="vaMail"
            @close-component-va="toNextStep"
          />
          <InscriptionCertificate
            v-if="step.code === Step.CERTIFICATE"
            inscription
            @close-component-certificate="toNextStep"
          />
          <InscriptionPayment
            v-if="step.code === Step.PAYMENT"
            inscription
            @close-component-payment="toNextStep"
          />
        </v-stepper-window-item>
      </v-stepper-window>
      <v-stepper-actions
        :next-text="nextText"
        :color="currentStep === Step.PAYMENT ? `success` : undefined"
        :disabled="disabled"
        prev-text="Retour"
        @click:next="toNextStep"
        @click:prev="prev"
      />
    </template>
  </v-stepper>
</template>

<script setup lang="ts">
import { PaymentStatus } from "@overrun/types";

definePageMeta({
  layout: "user-layout",
  middleware: [
    async function () {
      const store = useUserStore();
      await store.fetchConnectedUser({ forceReload: true });
      const currentInscription = store.getMe.currentInscription;
      if (currentInscription) {
        return navigateTo("/dashboard");
      }
    },
  ],
});

const userStore = useUserStore();
userStore.fetchConnectedUser();
const myInscription = computed(() => userStore.getMe.currentInscription);

enum Step {
  INVITE = "INVITE",
  TEAM = "TEAM",
  VA = "VA",
  CERTIFICATE = "CERTIFICATE",
  PAYMENT = "PAYMENT",
}
const STEPS: Record<Step, { code: Step; label: string; order: number }> = {
  [Step.INVITE]: {
    order: 2,
    code: Step.INVITE,
    label: "Inviter d'autres athlètes",
  },
  [Step.TEAM]: {
    order: 1,
    code: Step.TEAM,
    label: "Sélection course et équipe",
  },
  [Step.VA]: {
    order: 3,
    code: Step.VA,
    label: "Enregistrement de la carte VA",
  },
  [Step.CERTIFICATE]: {
    order: 4,
    code: Step.CERTIFICATE,
    label: "Envoi du certificat",
  },
  [Step.PAYMENT]: {
    order: 5,
    code: Step.PAYMENT,
    label: "Paiement",
  },
};
const steps = ref(
  Object.values(STEPS)
    .sort((a, b) => a.order - b.order)
    .filter((a) => a.code !== Step.INVITE),
);

const currentStep = ref("");
const disabled = ref(true as "next" | "prev" | boolean);
const teamToken = ref("");
const vaMail = ref("");

const completed: Record<Step, Ref<boolean>> = {
  [Step.INVITE]: computed(
    () => STEPS[currentStep.value as Step]?.order > STEPS[Step.INVITE].order,
  ),
  [Step.TEAM]: computed(() => !!myInscription.value),
  [Step.VA]: computed(() => !!myInscription.value?.va),
  [Step.CERTIFICATE]: computed(() => !!myInscription.value?.certificate),
  [Step.PAYMENT]: computed(
    () =>
      !!myInscription.value?.payment &&
      myInscription.value?.payment.status !== PaymentStatus.NOT_STARTED,
  ),
};

const nextText = ref("Passer cette étape");

watch(currentStep, (code: unknown) => {
  const step = STEPS[code as Step];

  if (step.code === Step.INVITE) {
    nextText.value = "Continuer";
  } else if (step.code === Step.PAYMENT) {
    nextText.value = "Terminer";
  } else {
    nextText.value = completed[step.code].value
      ? "Continuer"
      : "Passer cette étape";
  }

  if (step.code === Step.TEAM) {
    disabled.value = true;
  } else {
    const idx = steps.value.findIndex((s) => s.code === code);
    if (idx === 1) {
      disabled.value = "prev";
    } else {
      disabled.value = false;
    }
  }
});

function onRegister(event: {
  createTeam: boolean;
  token: string;
  vaMail: string;
}) {
  steps.value = event.createTeam
    ? Object.values(STEPS).sort((a, b) => a.order - b.order)
    : steps.value;
  currentStep.value = steps.value[1].code;
  teamToken.value = event.token;
  vaMail.value = event.vaMail;
}

function toNextStep() {
  const current = STEPS[currentStep.value as Step];
  const nextStep = steps.value
    .filter((s) => s.order > current.order)
    .sort((a, b) => a.order - b.order)
    .at(0);

  if (nextStep) {
    currentStep.value = nextStep.code;
  } else {
    userStore.fetchConnectedUser({ forceReload: true });
    navigateTo("/dashboard");
  }
}
</script>
