<template>
  <!-- TODO : rajouter les actions d'équipes
  Modifier le mot de passe ?
  Gestion rôle admin ?
  Inviter quelqu'un ?
  Demander l'annulation de l'ensemble des inscriptions de l'équipe ? -->

  <v-data-table
    :items="myTeamMembers"
    :headers="headersTeam"
    item-value="id"
    class="elevation-3"
    density="compact"
  >
    <template #[`item.name`]="{ item }">
      {{
        item.firstName +
          " " +
          item.lastName +
          (item.athleteId === myId ? " (moi) " : "")
      }}
      <v-icon
        v-if="item.isAdmin"
        icon="mdi-medal"
      />
    </template>
    <template #[`item.certificate`]="{ item }">
      <v-icon
        v-if="item.certificate"
        icon="mdi-check"
        color="success"
      />
      <v-icon
        v-else
        icon="mdi-close"
        color="error"
      />
    </template>
    <template #[`item.payment`]="{ item }">
      <v-icon
        v-if="item.payment"
        icon="mdi-check"
        color="success"
      />
      <v-icon
        v-else
        icon="mdi-close"
        color="error"
      />
    </template>
    <template #[`item.inscription`]="{ item }">
      <v-icon
        v-if="item.inscription"
        icon="mdi-check"
        color="success"
      />
      <v-icon
        v-else
        icon="mdi-close"
        color="error"
      />
    </template>
    <template #bottom />
  </v-data-table>
</template>

<script setup lang="ts">
const myTeamMembers = computed(
  () => useUserStore().getMe.currentInscription?.teamMembers,
);
const myId = computed(() => useUserStore().getMe.id);
const headersTeam = [
  { title: "Mon équipe", key: "name" },
  { title: "Certificat", align: "center", key: "certificate" },
  { title: "Paiement", align: "center", key: "payment" },
  { title: "Inscription", align: "center", key: "inscription" },
] as TableHeaders;
</script>
