<template>
  <v-card>
    <v-form @submit.prevent="updateUser()">
      <v-card-title>
        <v-row>
          <v-col>Mes paramètres</v-col>
          <v-col align="right">
            <v-btn
              type="submit"
              color="success"
              class="ma-1"
            >
              Confirmer
            </v-btn>
            <v-btn
              color="warning"
              @click="initUser()"
            >
              Annuler
            </v-btn>
          </v-col>
        </v-row>
      </v-card-title>
      <v-divider />
      <v-card-text>
        <v-container>
          <v-row>
            <v-col>
              <v-text-field
                v-model="name"
                label="Nom"
              />
            </v-col>
            <v-col>
              <v-text-field
                v-model="firstName"
                label="Prénom"
              />
            </v-col>
            <v-col>
              <v-text-field
                v-model="pseudo"
                label="Pseudo"
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="6">
              <v-text-field
                v-model="address"
                label="Adresse"
              />
            </v-col>
            <v-col>
              <v-text-field
                v-model="zipCode"
                label="Code postal"
              />
            </v-col>
            <v-col>
              <v-text-field
                v-model="city"
                label="Ville"
              />
            </v-col>
            <v-col>
              <v-text-field
                v-model="country"
                label="Pays"
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-text-field
                v-model="phoneNumber"
                label="Téléphone"
              />
            </v-col>
            <v-col>
              <v-text-field
                v-model="birthday"
                type="date"
                label="Date de naissance"
              />
            </v-col>
            <v-col>
              <v-select
                v-model="gender"
                label="Genre"
                :items="genders"
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-text-field
                v-model="password"
                label="Nouveau mot de passe"
              />
            </v-col>
            <v-col>
              <v-text-field
                v-model="password2"
                label="Confirmation du mot de passe"
              />
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
    </v-form>
  </v-card>
</template>

<script setup lang="ts">
import { UserGender } from "@overrun/types";
import { UpdateUserInfoDTO } from "@overrun/types";
import type { UserGenderType } from "@overrun/types";

const userStore = useUserStore();
const me = computed(() => userStore.getMe);
const name = ref("");
const firstName = ref("");
const pseudo = ref("");
const address = ref("");
const zipCode = ref("");
const city = ref("");
const country = ref("");
const gender = ref("");
const birthday = ref("");
const password = ref("");
const password2 = ref("");
const phoneNumber = ref("");
const genders = ref([
  { title: "Homme", value: UserGender.MALE },
  { title: "Femme", value: UserGender.FEMALE },
  { title: "Autre", value: UserGender.OTHER },
]);

function initUser() {
  name.value = me.value.lastName;
  firstName.value = me.value.firstName;
  pseudo.value = me.value.username;
  gender.value = me.value.gender;
  birthday.value = htmlInputDateTime(me.value.dateOfBirth.toString(), {
    hideTime: true,
  });
  address.value = me.value.address;
  zipCode.value = me.value.zipCode;
  city.value = me.value.city;
  country.value = me.value.country;
  phoneNumber.value = me.value.phoneNumber;
}
function updateUser() {
  const updateInfo: UpdateUserInfoDTO = {
    firstName: firstName.value,
    lastName: name.value,
    username: pseudo.value,
    gender: UserGender[gender.value as UserGenderType],
    address: address.value,
    zipCode: zipCode.value,
    city: city.value,
    country: country.value,
    phoneNumber: phoneNumber.value,
    dateOfBirth: toISODate(birthday.value),
  };
  userStore.updateConnectedUser(updateInfo);
}
initUser();
</script>
