<template>
  <v-data-table
    :items="myFiles"
    :headers="headersDocument"
    :group-by="[{ key: 'filetype', order: 'asc' }]"
    item-value="id"
    class="elevation-3"
    density="compact"
  >
    <template #group-header="{ item, columns, toggleGroup, isGroupOpen }">
      <tr>
        <td :colspan="columns.length">
          <v-btn
            :icon="isGroupOpen(item) ? '$expand' : '$next'"
            size="small"
            variant="text"
            @click="toggleGroup(item)"
          />
          {{ prettyFiletype[item.value as FileCategoryType] + "s" }} ({{
            item.items.length
          }})
        </td>
      </tr>
    </template>
    <template #[`item.url`]="{ item }">
      <v-icon
        v-if="item.filetype !== FileCategory.PAYMENT"
        class="ma-1"
        icon="mdi-eye-outline"
        @click="() => openDrawer(item.parentId, item.filetype)"
      />
      <a
        :href="
          item.url ?? FileRepository.getFileUrl(item.parentId, item.filetype)
        "
        :download="
          'overrun_' +
            prettyFiletype[item.filetype as FileCategoryType] +
            '_' +
            item.parentId
        "
        target="_blank"
      ><v-icon
        class="ma-1"
        icon="mdi-tray-arrow-down"
        color="black"
      /></a>
    </template>
    <template #bottom />
  </v-data-table>
</template>

<script setup lang="ts">
import { FileCategory, type FileCategoryType } from "@overrun/types";
const myFiles = computed(() => useUserStore().getMe.files);
const headersDocument = [
  { title: "Mes documents", key: "data-table-group" },
  { title: "Édition", align: "center", key: "edition.name" },
  { title: "Course", align: "center", key: "race.name" },
  { title: "", align: "center", key: "url" },
] as TableHeaders;
const prettyFiletype = {
  [FileCategory.CERTIFICATE]: "Certificat",
  [FileCategory.PAYMENT]: "Paiement",
  [FileCategory.RESULT]: "Résultat",
} as { [key in FileCategoryType]: string };

function openDrawer(fileId: number, filetype: FileCategoryType) {
  FileRepository.getFile(fileId, filetype).then((data) => {
    useDrawer().openDrawer(data, prettyFiletype[filetype]);
  });
}
</script>
