<template>
  <TextFieldEditable v-model="name" />

  <v-container>
    <v-row>
      <v-col>
        <RichEditor
          v-model="content"
          @save="(files) => save(files)"
        />
      </v-col>
      <v-col>
        <FundraiserDisplay :content="content" />
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts" setup>
import { FundraiserDto } from "@overrun/types";

const props = defineProps({
  editionId: {
    type: Number,
    required: true,
  },
});
const template = ref<HTMLElement | null>(null);
const fundraiser = ref<FundraiserDto | null>(
  props.editionId
    ? await FundraiserRepository.getFromEditionId(props.editionId)
    : null,
);
const name = ref<string>(
  fundraiser.value?.name ?? "Nouvelle course caritative",
);
const content = ref<string>(fundraiser.value?.description ?? "");
updateHtml(content.value);

watch(content, (newValue) => updateHtml(newValue));

watch(
  () => props.editionId,
  async (newId) => {
    fundraiser.value = await FundraiserRepository.getFromEditionId(newId);
    content.value = fundraiser.value?.description ?? "";
    name.value = fundraiser.value?.name ?? "Nouvelle course caritative";
    updateHtml(content.value);
  },
);

onMounted(() => {
  template.value = document?.getElementById("test");
  updateHtml(content.value);
});

function updateHtml(text: string) {
  if (template.value) {
    template.value.innerHTML = text ?? "";
  }
}

function save(files: string[]) {
  FundraiserRepository.edit({
    editionId: props.editionId,
    name: name.value,
    description: content.value,
    images: files,
  });
}
</script>
