<template>
  <div
    v-if="content"
    id="display-fundraiser"
    class="display-fundraiser"
  />
</template>

<script lang="ts" setup>
const props = defineProps({
  content: {
    type: String,
    required: false,
    default: null,
  },
});
const template = ref<HTMLElement | null>(null);
updateHtml(props.content);
watch(
  () => props.content,
  (newValue) => updateHtml(newValue),
);

onMounted(() => {
  template.value = document?.getElementById("display-fundraiser");
  updateHtml(props.content);
});

function updateHtml(text: string) {
  if (template.value) {
    template.value.innerHTML = text ?? "";
  }
}
</script>

<style lang="scss">
.display-fundraiser {
  background-color: white;
  border: solid black;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
}
.ql-align-center {
  text-align: center;
}
.ql-align-right {
  text-align: right;
}
.ql-align-left {
  text-align: left;
}
.ql-align-justify {
  text-align: justify;
}
</style>
