<template>
  <v-card>
    <v-form
      v-model="valid"
      @submit.prevent="createCategory()"
    >
      <v-card-title>Nouvelle catégorie</v-card-title>
      <v-divider />
      <v-card-text>
        <v-row>
          <v-col>
            <v-text-field
              v-model="name"
              label="Nom"
              :rules="textRules"
            />
          </v-col>
          <v-col>
            <v-text-field
              v-model="description"
              label="Description"
              :rules="textRules"
            />
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-text-field
              v-model.number="minTeamMembers"
              type="number"
              label="Nombre minimal d'équipiers"
              :rules="numberRules"
              @update:model-value="updateMaxSize()"
            />
          </v-col>
          <v-col>
            <v-text-field
              v-model.number="maxTeamMembers"
              type="number"
              label="Nombre maximal d'équipiers"
              :rules="numberRules"
              :disabled="monoSize"
            />
          </v-col>
          <v-col>
            <v-checkbox
              v-model="monoSize"
              label="Taille unique"
              @click="maxTeamMembers = minTeamMembers"
            />
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-actions>
        <v-btn
          color="primary"
          :disabled="!valid"
          type="submit"
        >
          Confirmer
        </v-btn>
        <v-btn
          color="error"
          @click="closeModal"
        >
          Annuler
        </v-btn>
      </v-card-actions>
    </v-form>
  </v-card>
</template>

<script setup lang="ts">
const emits = defineEmits({
  "close-create-category-modal": null,
  "success-create-category": null,
});
const editionId = useEditionStore().activeEdition.id;
const categoryStore = useCategoryStore();
const monoSize = ref(true);
const maxTeamMembers = ref(1);
const minTeamMembers = ref(1);
const sizeRule = (value: number) =>
  categorySize(
    value,
    monoSize.value,
    minTeamMembers.value,
    maxTeamMembers.value,
  );

const numberRules = [required, sizeRule, strictPositiveNumber];
const textRules = [required];

const valid = ref(null);
const name = ref("");
const description = ref("");
function closeModal() {
  emits("close-create-category-modal");
}
function updateMaxSize() {
  maxTeamMembers.value = monoSize.value
    ? minTeamMembers.value
    : maxTeamMembers.value;
}
async function createCategory() {
  await categoryStore.createCategory({
    name: name.value,
    description: description.value,
    minTeamMembers: minTeamMembers.value,
    maxTeamMembers: monoSize.value
      ? minTeamMembers.value
      : maxTeamMembers.value,
    editionId: editionId,
  });
  emits("success-create-category");
  closeModal();
}
</script>
