<template>
  <v-card>
    <v-form
      v-model="valid"
      @submit.prevent="createEdition()"
    >
      <v-card-title>Nouvelle édition</v-card-title>
      <v-divider />
      <v-card-text>
        <v-row>
          <v-col>
            <v-text-field
              v-model="name"
              label="Nom"
              :rules="rules"
            />
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-text-field
              v-model="startDate"
              type="datetime-local"
              label="Début de la course"
            />
          </v-col>
          <v-col>
            <v-text-field
              v-model="endDate"
              type="datetime-local"
              label="Fin de la course"
            />
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-text-field
              v-model="registrationStartDate"
              type="datetime-local"
              label="Début des inscriptions"
            />
          </v-col>
          <v-col>
            <v-text-field
              v-model="registrationEndDate"
              type="datetime-local"
              label="Fin des inscriptions"
            />
          </v-col>
        </v-row>

        <v-card-actions>
          <v-btn
            color="primary"
            type="submit"
            :disabled="!valid"
          >
            Confirmer
          </v-btn>
          <v-btn
            color="error"
            @click="closeModal"
          >
            Annuler
          </v-btn>
        </v-card-actions>
      </v-card-text>
    </v-form>
  </v-card>
</template>

<script setup lang="ts">
const emits = defineEmits({
  "close-create-edition-modal": null,
  "success-create-edition": null,
});

const date = new Date();
const editionStore = useEditionStore();
const valid = ref(null);
const name = ref("");
const startDate = ref<string>(htmlInputDateTime(date.toString()));
const endDate = ref<string>(htmlInputDateTime(date.toString()));
const registrationStartDate = ref<string>(htmlInputDateTime(date.toString()));
const registrationEndDate = ref<string>(htmlInputDateTime(date.toString()));
const rules = [required];
function closeModal() {
  emits("close-create-edition-modal");
}
async function createEdition() {
  await editionStore.createEdition({
    name: name.value,
    startDate: toISODate(startDate.value),
    endDate: toISODate(endDate.value),
    registrationStartDate: toISODate(registrationStartDate.value),
    registrationEndDate: toISODate(registrationEndDate.value),
  });
  emits("success-create-edition");
  closeModal();
}
</script>
