<template>
  <v-card>
    <v-form
      v-model="valid"
      @submit.prevent="createDiscipline()"
    >
      <v-card-title>Nouvelle discipline</v-card-title>
      <v-divider />
      <v-card-text>
        <v-row>
          <v-text-field
            v-model="name"
            label="Nom"
            :rules="rules"
          />
        </v-row>
        <v-row>
          <v-text-field
            v-model="description"
            label="Description"
            :rules="rules"
          />
        </v-row>
      </v-card-text>
      <v-card-actions>
        <v-btn
          color="primary"
          type="submit"
          :disabled="!valid"
        >
          Confirmer
        </v-btn>
        <v-btn
          color="error"
          @click="closeModal"
        >
          Annuler
        </v-btn>
      </v-card-actions>
    </v-form>
  </v-card>
</template>

<script setup lang="ts">
const emits = defineEmits({
  "close-create-discipline-modal": null,
  "success-create-discipline": null,
});

const editionId = useEditionStore().activeEdition.id;
const disciplineStore = useDisciplineStore();
const valid = ref(null);
const name = ref("");
const description = ref("");
const rules = [required];
function closeModal() {
  emits("close-create-discipline-modal");
}

async function createDiscipline() {
  await disciplineStore.createDiscipline({
    name: name.value,
    description: description.value,
    editionId: editionId,
  });
  emits("success-create-discipline");
  closeModal();
}
</script>
