<template>
  <div
    v-if="!isDone || showIfDone"
    class="timer"
  >
    <div
      v-if="!!label"
      class="timer__label"
    >
      <strong>
        {{ label }}
      </strong>
    </div>
    <div
      v-if="days"
      class="timer__days"
    >
      <div class="numbers">
        {{ interval.days }}
      </div>
      jours
    </div>
    <div
      v-if="hours"
      class="timer__hours"
    >
      <div class="numbers">
        {{ interval.hours }}
      </div>
      heures
    </div>
    <div
      v-if="minutes"
      class="timer__minutes"
    >
      <div class="numbers">
        {{ interval.min }}
      </div>
      min
    </div>
    <div
      v-if="seconds"
      class="timer__seconds"
    >
      <div class="numbers">
        {{ interval.sec }}
      </div>
      sec
    </div>
  </div>
</template>

<script setup lang="ts">
import type { RawDatetimeString } from "@overrun/types";
import type { Interval } from "~/composables/utils";

const props = defineProps({
  end: {
    required: true,
    type: String as PropType<RawDatetimeString | undefined>,
  },
  days: Boolean,
  hours: Boolean,
  minutes: Boolean,
  seconds: Boolean,
  showIfDone: Boolean,
  label: {
    type: String,
    required: false,
    default: "",
  },
});

const now = ref(new Date());
const deadline = new Date(props.end ?? "");

const isDone: ComputedRef<boolean> = computed(
  () => now.value.getTime() > deadline.getTime(),
);
const timer = setInterval(() => (now.value = new Date()), 1000);

const interval: ComputedRef<Interval> = computed(() => {
  if (isDone.value) {
    return {
      days: "0",
      hours: "0",
      min: "0",
      sec: "0",
    };
  }

  const days = Math.floor(
    Math.trunc(deadline.getTime() - now.value.getTime()) / 1000 / 3600 / 24,
  );
  const hours =
    Math.trunc((deadline.getTime() - now.value.getTime()) / 1000 / 3600) % 24;
  const min =
    Math.trunc((deadline.getTime() - now.value.getTime()) / 1000 / 60) % 60;
  const sec =
    Math.trunc((deadline.getTime() - now.value.getTime()) / 1000) % 60;

  return {
    days: days + "",
    hours: (hours > 9 ? "" : "0") + hours,
    min: (min > 9 ? "" : "0") + min,
    sec: (sec > 9 ? "" : "0") + sec,
  };
});

onBeforeRouteLeave((_from, _to, next) => {
  clearInterval(timer);
  next();
});
</script>

<style lang="scss">
.timer {
  display: flex;

  color: gray;
  text-align: center;
  text-transform: uppercase;
  font-size: 1em;

  &__days,
  &__hours,
  &__minutes,
  &__seconds {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    border: solid 1px;
  }

  &__label {
    margin: auto;
    display: flex;
    color: darkblue;
  }
}

.numbers {
  color: darkblue;
  font-size: 2em;
}
</style>
