<template>
  <v-navigation-drawer
    v-model="open"
    location="right"
    :style="{ width: open ? '25cm' : 0, border: 'solid', borderRight: 'none' }"
    temporary
  >
    <div class="file-drawer">
      <v-card-title class="file-drawer__title">
        <v-layout class="file-drawer__title__layout">
          <v-icon
            v-tooltip="'Fermer'"
            icon="mdi-close"
            @click="close"
          />
          {{ title }}
          <a
            :href="FileRepository.getCertificateFileUrl()"
            download="overrun-certificat"
          ><v-icon
            v-tooltip="'Télécharger le fichier'"
            icon="mdi-tray-arrow-down"
            color="white"
          /></a>
        </v-layout>
      </v-card-title>
      <div
        class="file-drawer__content"
        :style="widthStyle"
      >
        <embed
          v-if="src?.type === MIME_PDF"
          class="file-drawer__content__pdf"
          :type="MIME_PDF"
          :src="url"
        >
        <img
          v-else-if="src"
          :src="url"
          class="file-drawer__content__img"
        >
        <v-skeleton-loader
          v-else
          type="image"
        />
      </div>
    </div>
  </v-navigation-drawer>
</template>

<script setup lang="ts">
import { FILE_EXTENSIONS, FileExtensionEnum } from "@overrun/constant";

const props = defineProps({
  modelValue: {
    type: Boolean,
    required: true,
    default: false,
  },
  src: {
    type: [Blob, null],
    required: true,
    default: null,
  },
  title: {
    type: String,
    required: false,
    default: "",
  },
});

const MIME_PDF = FILE_EXTENSIONS[FileExtensionEnum.PDF].typeMime;
const url = ref("");
const open = computed(() => props.modelValue);

const widthStyle = computed(() => ({
  "align-self": props.src?.type === MIME_PDF ? "unset" : "center",
}));

watch(
  () => props.src,
  (newVal) => {
    URL.revokeObjectURL(url.value);
    url.value = newVal ? URL.createObjectURL(newVal) : "";
  },
);

const emits = defineEmits({
  "update:modelValue": null,
});

function close() {
  emits("update:modelValue", false);
  URL.revokeObjectURL(url.value);
}
</script>

<style lang="scss">
.file-drawer {
  display: flex;
  flex-direction: column;
  height: 100%;
  &__title {
    background-color: #374785;
    color: white;
    &__layout {
      justify-content: space-between;
    }
  }
  &__content {
    flex-grow: 1;
    &__pdf {
      width: 100%;
      height: 99%;
    }
    &__img {
      max-width: 22cm;
    }
  }
}
</style>
