<template>
  <img
    v-if="!!ppURL"
    class="profile-picture__photo"
    :class="size"
    :src="ppURL"
  >
  <v-icon
    v-else
    class="profile-picture__icon"
    :class="size"
  >
    mdi-account-circle
  </v-icon>
</template>

<script lang="ts" setup>
const { user } = useOidcAuth();
const ppURL = user.value?.userInfo?.picture as string;

type Size = "small" | "medium" | "large";

defineProps({
  size: {
    type: String as PropType<Size>,
    default: "medium",
  },
});
</script>

<style lang="scss" scoped>
.profile-picture {
  &__photo {
    border-radius: 50%;
    object-fit: cover;
    &.small {
      height: 45px;
      width: 45px;
    }
    &.medium {
      height: 80px;
      width: 80px;
    }
    &.large {
      height: 150px;
      width: 150px;
    }
  }

  &__icon {
    opacity: 0.8;
    &.small {
      font-size: 50px;
    }
    &.medium {
      font-size: 100px;
    }
    &.large {
      font-size: 150px;
    }
  }
}
</style>
