<template>
  <div class="rich-editor">
    <div class="rich-editor__input">
      <div :id="id" />
    </div>
    <v-btn
      :loading="loading"
      class="rich-editor__btn"
      color="success"
      @click="prepareSave"
    >
      Enregistrer
    </v-btn>
  </div>
</template>

<script lang="ts" setup>
import Quill, { type QuillOptions } from "quill";
import "quill/dist/quill.snow.css";

Quill.register({});

const emit = defineEmits({
  save: null,
});
const content = defineModel<string>({ required: false });
const id = "rich-editor";

const loading = ref<boolean>(false);

const options: QuillOptions = {
  theme: "snow",
  modules: {
    toolbar: {
      container: [
        [{ header: 1 }, { header: 2 }],
        ["bold", "italic", "underline"],
        [{ list: "bullet" }, { align: [] }],
        ["image", "link"],
      ],
    },
  },
};

let quill: Quill | undefined;

onMounted(() => {
  quill = new Quill(`#${id}`, options);
  quill.root.innerHTML = content.value ?? "";
  quill.on("text-change", () => {
    content.value = quill?.root.innerHTML ?? "";
  });
});

watch(content, (newContent) => {
  if (!quill) return;
  const currentContent = quill.root.innerHTML;
  if (newContent === currentContent) return;
  quill.root.innerHTML = newContent ?? "";
});

onUnmounted(() => {
  quill?.off("text-change");
});

async function prepareSave() {
  const delta = quill?.getContents();
  if (!delta?.ops) return;

  loading.value = true;
  const images: string[] = [];
  for (const op of delta.ops) {
    const insert = op.insert as Record<string, unknown>;
    if (!insert?.image) continue;
    if ((insert.image as string).startsWith("data")) {
      const imageName = await uploadImage(insert.image as string);
      if (!imageName) continue;
      const url = FileRepository.getImgUrl(imageName.url);
      insert.image = url;
      images.push(imageName.url);
      quill?.setContents(delta);
    } else {
      const imageName = (insert.image as string).match(/\/([^/]*?)$/)![1];
      images.push(imageName);
    }
  }
  emit("save", images);
  loading.value = false;
}

async function uploadImage(source: string) {
  const blob: Blob = data64ToBlob(source);
  const extension = source.match(/\/(.*?);/)![1];
  const formData = new FormData();
  formData.append("image", blob, `image.${extension}`);
  const response = await FileRepository.uploadImage(formData);
  return response;
}

function data64ToBlob(source: string): Blob {
  const [header, base64] = source.split(",");
  const mimeType = header.match(/:(.*?);/)![1];

  // Convertir base64 en Blob
  const byteCharacters = atob(base64);
  const byteNumbers = new Array(byteCharacters.length)
    .fill(0)
    .map((_, i) => byteCharacters.charCodeAt(i));
  const byteArray = new Uint8Array(byteNumbers);
  const blob = new Blob([byteArray], { type: mimeType });
  return blob;
}
</script>

<style lang="scss" scoped>
$toolbar-icon-color: rgba(var(--v-theme-on-surface), 0.8);
$border-color: rgba(var(--v-border-color), 0.3);

.rich-editor {
  display: flex;
  flex-direction: column;
  &__input {
    background-color: white;
  }
  &__btn {
    align-self: flex-end;
    margin-top: 5px;
  }
}
</style>
