<template>
  <v-snackbar
    v-model="show"
    :color="color"
    :text="msg"
    rounded="pill"
    @update:model-value="(value) => emits('update:modelValue', value)"
  >
    <template #actions>
      <v-btn
        icon="mdi-close"
        @click="show = false"
      />
    </template>
  </v-snackbar>
</template>

<script setup lang="ts">
type TypeColor = "info" | "success" | "warning" | "error";
const props = defineProps({
  msg: {
    type: String,
    required: true,
  },
  color: {
    type: String as PropType<TypeColor>,
    default: "info",
  },
  modelValue: Boolean,
});
const emits = defineEmits({
  "update:modelValue": null,
});

const show = ref(false);
watch(
  () => props.modelValue,
  (newVal) => {
    show.value = newVal;
  },
);
</script>
