<template style="{border: solid green}">
  <slot>
    <div
      v-if="!editMode"
      class="text-field-editable__title"
    >
      <slot>
        <h1>
          <u> {{ $attrs.label }}</u> {{ $attrs.label ? ":" : "" }}
          {{ parentValue }}
        </h1>
      </slot>
      <v-btn
        icon="mdi-pencil"
        size="x-small"
        class="text-field-editable__title__button"
        :disabled="attr.disabled"
        @click="edit"
      />
    </div>
  </slot>
  <v-text-field
    v-if="editMode && !attr.disabled"
    v-model="currentValue"
    variant="outlined"
    v-bind="{ ...$attrs }"
  >
    <template #append-inner>
      <v-icon
        v-if="editMode"
        icon="mdi-close"
        @click="cancel"
      />
      <v-icon
        v-if="editMode"
        icon="mdi-check"
        @click="validate"
      />
    </template>
  </v-text-field>
</template>

<script setup lang="ts">
const parentValue = defineModel({
  type: String,
  required: true,
  default: "",
});

const currentValue = ref<string>(parentValue.value);

type Props = Omit<VTextFieldProps, "variant" | "modelValue">;
const attr = useAttrs() as Props;

watch(parentValue, (newVal) => (currentValue.value = newVal));

const editMode = ref<boolean>(false);

function edit() {
  editMode.value = true;
}

function cancel() {
  currentValue.value = parentValue.value;
  editMode.value = false;
}

function validate() {
  parentValue.value = currentValue.value;
  editMode.value = false;
}
</script>

<style lang="scss">
.text-field-editable__title {
  display: flex;
  align-items: center;

  &__button {
    margin-left: 10px;
  }
}
</style>
