<template>
  <v-chip
    append-icon="mdi-check-circle"
    color="success"
  >
    <slot>{{ feminine ? "Validée" : "Validé" }}</slot>
  </v-chip>
</template>

<script setup lang="ts">
defineProps({
  feminine: Boolean,
});
</script>
