<template>
  <v-chip class="ms-1">
    {{ dd.name }}
    {{ dd.duration && dd.duration > 0 ? `(${dd.duration}h)` : "" }}
  </v-chip>
</template>

<script setup lang="ts">
import { type DisciplineDurationDto } from "@overrun/types";

defineProps({
  dd: {
    required: true,
    type: Object as PropType<DisciplineDurationDto>,
  },
});
</script>
