<template>
  <v-chip
    append-icon="mdi-close-circle"
    color="erreur"
  >
    <slot>
      {{ feminine ? "Refusée" : "Refusé" }}
    </slot>
  </v-chip>
</template>

<script setup lang="ts">
defineProps({
  feminine: Boolean,
});
</script>
