<template>
  <v-chip class="ms-1">
    {{ category?.name }} ({{ sizeTeam }})
  </v-chip>
</template>

<script setup lang="ts">
import { type LiteCategoryResponse } from "@overrun/types";
const props = defineProps({
  category: {
    type: Object as PropType<LiteCategoryResponse>,
    required: false,
    default: null,
  },
});

const sizeTeam = computed(() =>
  !props.category ? "" : sizeCategory(props.category),
);
</script>
