<template>
  <v-layout>
    <v-main class="main-container">
      <h1>Admin Dashboard</h1>
    </v-main>
  </v-layout>
</template>

<script setup lang="ts">
definePageMeta({
  layout: "admin-layout",
});
</script>
