<template>
  <v-container>
    <v-btn @click="userStore.fetchConnectedUser({ forceReload: true })">
      Recharcher
    </v-btn>
    <v-card class="mb-5">
      <v-card-title>
        <v-container>
          <v-row>
            <h5 class="me-4">
              {{ myInscription?.race.name }}
            </h5>
            <ChipCategory :category="myInscription?.race.category" />
            <template
              v-for="discipline in myInscription?.race.disciplines"
              :key="discipline.id"
            >
              <ChipDiscipline :dd="discipline" />
            </template>
          </v-row>
        </v-container>
      </v-card-title>
      <v-divider />
      <v-card-text>
        <UserDashboardCards />
      </v-card-text>
    </v-card>

    <v-card>
      <v-tabs
        v-model="tab"
        bg-color="primary"
        align-tabs="center"
        fixed-tabs
      >
        <v-tab
          v-if="hasTeam"
          :value="Tabs.TEAM"
          append-icon="mdi-account-group"
        >
          Mon équipe ({{ myInscription?.teamName }})
        </v-tab>
        <v-tab
          :value="Tabs.FILES"
          append-icon="mdi-file-document-multiple-outline"
        >
          Mes documents
        </v-tab>
        <v-tab
          :value="Tabs.ACCOUNT"
          append-icon="mdi-cog"
        >
          Mon compte
        </v-tab>
      </v-tabs>
      <v-card-text>
        <v-window v-model="tab">
          <v-window-item :value="Tabs.TEAM">
            <UserTabTeam />
          </v-window-item>

          <v-window-item :value="Tabs.FILES">
            <UserTabFiles />
          </v-window-item>
          <v-window-item :value="Tabs.ACCOUNT">
            <UserTabAccount />
          </v-window-item>
        </v-window>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script setup lang="ts">
import { PaymentStatus } from "@overrun/types";

definePageMeta({
  layout: "user-layout",
  middleware: [
    async function () {
      const store = useUserStore();
      await store.fetchConnectedUser({ forceReload: true });
      const currentInscription = store.getMe.currentInscription;
      if (!currentInscription) {
        return navigateTo("/inscription");
      }
    },
  ],
});

const snackbar = useSnackbar();
const route = useRoute();
const helloassoType = route.query.type;
const helloassoCode = route.query.code;
const helloassoError = route.query.error;

enum Tabs {
  TEAM,
  ACCOUNT,
  FILES,
  RACE,
}
const userStore = useUserStore();
userStore.fetchConnectedUser();
const myInscription = computed(() => userStore.getMe.currentInscription);
const hasTeam = computed(() => !!myInscription.value?.teamName);

const tab = ref(hasTeam.value ? Tabs.TEAM : Tabs.FILES);

handleBacklinkHelloasso();

function handleBacklinkHelloasso() {
  if (!helloassoType) return;
  if (myInscription?.value.payment?.status !== PaymentStatus.PENDING) return;

  if (helloassoType === "success") {
    if (helloassoCode === "succeeded") {
      snackbar.openSnackbar(
        "success",
        "Paiment confirmé. Mise à jour de la page dans quelques instants",
      );
    } else if (helloassoCode === "refused") {
      snackbar.openSnackbar(
        "error",
        "Paiment refusé par Helloasso.  Merci de réessayer dans quelques instant",
      );
    }
    setTimeout(() => userStore.fetchConnectedUser({ forceReload: true }), 5000);
  } else if (helloassoType === "error") {
    snackbar.openSnackbar(
      "error",
      `Une erreur s'est produite${helloassoError ? " => " + helloassoError : ""}.`,
    );
  }
}
</script>
