<template>
  <v-card class="pt-6 pb-8 px-4 px-sm-8 mx-auto">
    <div class="text-center">
      <v-icon
        class="me-2"
        icon="mdi-bike"
        size="x-large"
      />
    </div>

    <div class="text-center mb-6">
      <v-card-title class="text-h5 mb-1 text-md-h4">
        <div class="text-h6 font-weight-light">
          {{ auth.loggedIn ? "Content de te revoir !" : "Connecte toi à" }}
        </div>
        <span class="text-h3 font-weight-bold">OverRun</span>
      </v-card-title>

      <v-card-subtitle class="text-wrap">
        Complète ou suis ton inscription aux courses des 24h de l'INSA.
      </v-card-subtitle>
    </div>

    <v-list
      class="mx-auto"
      max-width="300"
      width="100%"
    >
      <v-list-item
        class="sso-button my-2"
        prepend-icon="mdi-login"
        rounded="pill"
        slim
        variant="flat"
        @click="auth.login('zitadel')"
      >
        <template #title>
          <span class="text-body-2">Se connecter</span>
        </template>
      </v-list-item>
    </v-list>
  </v-card>
</template>

<script setup lang="ts">
const auth = useOidcAuth();

definePageMeta({
  middleware: ["auth-index"],
});
</script>

<style lang="scss" scoped>
.sso-button {
  background-color: $blue-24h;
}
</style>
