<template>
  <i>
    <svg
      width="20"
      height="20"
      viewBox="0 0 995 1000"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0)">
        <path
          d="M298.48 803C145.24 627.95 247.48 185.43 312.48 185.43C187 182.85 -25 265.84 3.57998 561.9C34 803 234.91 992.62 483.74 999.8C602.45 1003.19 712.58 964.21 800.17 896.85C559.86 1069.85 397.08 915.6 298.48 803V803Z"
          fill="url(#paint0_linear)"
        />
        <path
          d="M859.58 505.57C732.51 761.53 342.83 869.32 298.48 803C374.64 914.38 563.59 1070.25 801.67 895.81C992 747.5 1052 477.81 932.3 259C875.15 154.58 786.4 78.78 684.64 37.1C953.75 157.44 926.48 370.81 859.58 505.57V505.57Z"
          fill="url(#paint1_linear)"
        />
        <path
          d="M312.5 185.38C587.38 155.67 899.11 439.48 859.58 505.57C937 373.35 954.78 157.44 685.72 37.07C551.68 -17.84 395.1 -13.6 258.51 62.2C73.25 165 -22.56 369.81 4.51999 569C-14.95 274.52 209.77 196.48 312.5 185.38Z"
          fill="url(#paint2_linear)"
        />
      </g>
      <defs>
        <linearGradient
          id="paint0_linear"
          x1="104.115"
          y1="252.944"
          x2="559.085"
          y2="1041.11"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#498A63" />
          <stop
            offset="0.25"
            stop-color="#61B984"
          />
        </linearGradient>
        <linearGradient
          id="paint1_linear"
          x1="463.743"
          y1="949.153"
          x2="935.568"
          y2="184.101"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#89356D" />
          <stop
            offset="0.21"
            stop-color="#B94794"
          />
        </linearGradient>
        <linearGradient
          id="paint2_linear"
          x1="75.9077"
          y1="204.831"
          x2="870.343"
          y2="494.052"
          gradientUnits="userSpaceOnUse"
        >
          <stop
            offset="0.6"
            stop-color="#F59C1C"
          />
          <stop
            offset="1"
            stop-color="#C7702B"
          />
        </linearGradient>
        <clipPath id="clip0">
          <rect
            width="994.07"
            height="1000"
            fill="white"
          />
        </clipPath>
      </defs>
    </svg>
  </i>
</template>
