<template>
  <v-dialog
    v-model="show"
    width="800"
  >
    <InscriptionVA
      v-show="modal === TypeModal.VA"
      @close-component-va="closeModal()"
    />
    <InscriptionPayment
      v-show="modal === TypeModal.PAYMENT"
      @close-component-payment="closeModal()"
    />
    <InscriptionCancel
      v-show="modal === TypeModal.CANCEL"
      @close-component-cancel="closeModal()"
    />
    <InscriptionCertificate
      v-show="modal === TypeModal.CERTIFICATE"
      :status="myInscription?.certificate?.status"
      @close-component-certificate="closeModal()"
    />
  </v-dialog>
  <v-row class="pb-2">
    <v-col cols="3">
      <CardInscription
        :status="myInscription?.status"
        @open-modal-cancel="openModal(TypeModal.CANCEL)"
      />
    </v-col>
    <v-col cols="3">
      <CardCertificate
        :status="myInscription?.certificate?.status"
        :inscription="myInscription?.status"
        @open-modal-certificate="openModal(TypeModal.CERTIFICATE)"
      />
    </v-col>
    <v-col cols="3">
      <CardVA
        :va="!!myInscription?.va"
        :inscription="myInscription?.status"
        @open-modal-va="openModal(TypeModal.VA)"
      />
    </v-col>
    <v-col cols="3">
      <CardPayment
        @open-modal-payment="openModal(TypeModal.PAYMENT)"
        @open-modal-cancel="openModal(TypeModal.CANCEL)"
      />
    </v-col>
  </v-row>
</template>

<script setup lang="ts">
enum TypeModal {
  NONE,
  VA,
  CANCEL,
  PAYMENT,
  CERTIFICATE,
}
const myInscription = computed(() => useUserStore().getMe.currentInscription);
const modal = ref(-1);
const show = ref(false);

function closeModal() {
  show.value = false;
  modal.value = TypeModal.NONE;
}
function openModal(type: number) {
  show.value = true;
  modal.value = type;
}
</script>
