<template>
  <v-layout>
    <v-main class="main-container">
      <v-container
        class="ma-2"
        fluid
      >
        <v-form
          v-model="valid"
          @submit.prevent="updateDiscipline()"
        >
          <v-row>
            <v-col
              cols="3"
              class="pt-0 ps-0"
            >
              <h2 v-if="!updateMode">
                {{ discipline.name }} (Discipline)
              </h2>
              <v-text-field
                v-else
                v-model="updatedDiscipline.name"
                :variant="variant"
                :readonly="!updateMode"
                :rules="rules"
                hide-details
              />
              <v-divider class="border-opacity-25" />
            </v-col>
            <v-col
              align="right"
              class="pt-0"
            >
              <v-btn
                v-if="updateMode"
                color="success"
                :disabled="!valid"
                type="submit"
              >
                Confirmer
              </v-btn>
              <v-btn
                class="ms-2"
                color="warning"
                @click="toggleUpdateMode()"
              >
                {{ updateMode ? "Annuler" : "Modifier" }}
              </v-btn>
            </v-col>
          </v-row>

          <v-row
            no-gutter
            align="start"
          >
            <v-col cols="2">
              Description :
            </v-col>
            <v-col
              class="pa-0"
              cols="6"
            >
              <v-text-field
                v-model="updatedDiscipline.description"
                :variant="variant"
                :readonly="!updateMode"
                density="compact"
                :rules="rules"
                hide-details
              />
            </v-col>
          </v-row>
        </v-form>
        <v-row class="pt-5">
          <h4>Courses</h4>
          <v-divider class="border-opacity-25 pb-2" />
        </v-row>
        <v-row>
          <v-data-table
            items-per-page="5"
            :headers="headers"
            :items="discipline.raceDuration"
            item-value="id"
            class="elevation-1"
            density="compact"
          >
            <template #[`item.race`]="{ item }">
              <NuxtLink :to="'/admin/races/' + item.race?.id">
                {{ item.race?.name }}
              </NuxtLink>
            </template>
            <template #[`item.duration`]="{ item }">
              {{ item.duration }}h
            </template>
          </v-data-table>
        </v-row>
      </v-container>
    </v-main>
  </v-layout>
</template>

<script setup lang="ts">
import type { Discipline } from "@overrun/types";

definePageMeta({
  layout: "admin-layout",
});
const route = useRoute();
const disciplineStore = useDisciplineStore();

const disciplineId = parseInt(route.params.id.toString());
await disciplineStore.setDisciplineById(disciplineId);
const discipline = computed(() => disciplineStore.discipline);
const updateMode = ref(route.query.update === "true");
const variant = ref((updateMode.value ? "outlined" : "plain") as variantType);

const valid = ref(null);
const updatedDiscipline = ref<Discipline>({ ...discipline.value });
const rules = ref([required]);
const headers = [
  { title: "Course", align: "center", key: "race" },
  { title: "Durée", align: "center", key: "duration" },
] as TableHeaders;
function toggleUpdateMode() {
  updateMode.value = !updateMode.value;
  variant.value = updateMode.value ? "outlined" : "plain";
  updatedDiscipline.value = { ...discipline.value };
}
async function updateDiscipline() {
  if (updateMode.value) {
    await disciplineStore.updateDiscipline(
      disciplineId,
      updatedDiscipline.value,
    );
    updatedDiscipline.value = { ...discipline.value };
  }
  toggleUpdateMode();
}
</script>
