<template>
  <v-layout>
    <v-main class="main-container">
      <v-dialog
        v-model="showCreate"
        width="800"
      >
        <ModalCreateDiscipline
          v-show="showCreate"
          @close-create-discipline-modal="showCreate = false"
        />
      </v-dialog>
      <v-container
        class="ma-2"
        fluid
      >
        <v-row>
          <v-col
            cols="3"
            class="pt-0 ps-0"
          >
            <h2>Disciplines</h2>
            <v-divider class="border-opacity-25" />
          </v-col>
        </v-row>
        <v-row
          justify="end"
          class="pb-3 pe-3"
        >
          <v-btn
            color="info"
            @click="showCreate = true"
          >
            Ajouter
          </v-btn>
          <v-btn
            color="error"
            @click="deleteMultipleDisciplines(selectedIdList)"
          >
            Supprimer
          </v-btn>
          <v-btn
            icon="mdi-refresh"
            color="blue-lighten-4"
            size="x-small"
            class="ms-3"
            @click="
              disciplineStore.refreshDisciplinesFromEdition({
                editionId,
                forceReload: true,
              })
            "
          />
        </v-row>
        <v-data-table
          v-model="selectedIdList"
          :headers="headers"
          :items="disciplines"
          item-value="id"
          :hide-default-footer="false"
          :disable-pagination="true"
          class="elevation-1 ma-2"
          show-select
        >
          <template #[`item.name`]="{ item }">
            <NuxtLink :to="'/admin/disciplines/' + item.id">
              {{ item.name }}
            </NuxtLink>
          </template>
          <template #[`item.controls`]="{ item }">
            <v-btn
              class="ma-1"
              color="warning"
              :to="'/admin/disciplines/' + item.id + '?update=true'"
            >
              Modifier
            </v-btn>
            <v-btn
              color="error"
              @click="deleteSingleDiscipline(item)"
            >
              Supprimer
            </v-btn>
          </template>
          <template #bottom />
        </v-data-table>
      </v-container>
    </v-main>
  </v-layout>
</template>

<script setup lang="ts">
import { type Discipline } from "@overrun/types";

definePageMeta({
  layout: "admin-layout",
});
const editionId = useEditionStore().activeEdition.id;
const disciplineStore = useDisciplineStore();
disciplineStore.refreshDisciplinesFromEdition({ editionId });
const disciplines = computed(() => disciplineStore.disciplines);

const selectedIdList = ref<number[]>([]);
const showCreate = ref(false);
const headers = [
  {
    title: "Nom",
    align: "center",
    key: "name",
  },
  {
    title: "Description",
    align: "center",
    key: "description",
    sortable: false,
  },
  { title: "Actions", key: "controls", sortable: false, align: "center" },
] as TableHeaders;
async function deleteSingleDiscipline(d: Discipline) {
  if (d.id === undefined) return;
  await disciplineStore.deleteSingleDiscipline(d.id);
  selectedIdList.value = selectedIdList.value.filter((val) => val !== d.id);
}
async function deleteMultipleDisciplines(ids: number[]) {
  await disciplineStore.deleteMultipleDisciplines(ids);
  selectedIdList.value = [];
}
</script>
