<template>
  <v-layout>
    <v-main class="main-container">
      <v-container
        class="ma-2"
        fluid
      >
        <v-form
          v-model="valid"
          @submit.prevent="updateRace()"
        >
          <v-row>
            <v-col
              cols="3"
              class="pt-0 ps-0"
            >
              <h2>{{ race.name }}</h2>
              <v-divider class="border-opacity-25" />
            </v-col>
            <v-col
              align="right"
              class="pt-0"
            >
              <v-btn
                :color="updateMode ? 'success' : 'warning'"
                :disabled="!valid"
                type="submit"
              >
                {{ updateMode ? "Confirmer" : "Modifier" }}
              </v-btn>
            </v-col>
          </v-row>

          <v-row
            align="start"
            class="pa-0"
          >
            <v-col cols="2">
              Catégorie :
            </v-col>
            <v-col
              cols="2"
              class="pa-0"
            >
              <v-select
                v-model="race.categorie"
                class="input-field"
                chips
                :items="categories"
                :variant="variant"
                :readonly="!updateMode"
                density="compact"
                hide-details
              />
            </v-col>
            <v-col cols="1" />
            <v-col cols="2">
              Discipline(s) :
            </v-col>
            <v-col
              cols="4"
              class="pa-0"
            >
              <v-select
                v-model="race.disciplines"
                chips
                class="input-field"
                :items="disciplines"
                multiple
                :variant="variant"
                :readonly="!updateMode"
                density="compact"
                hide-details
              />
            </v-col>
          </v-row>

          <v-row
            no-gutter
            align="end"
            class="pb-2"
          >
            <v-col cols="1">
              Prix :
            </v-col>
            <v-col cols="1">
              <v-text-field
                v-model="race.price"
                class="pa-0"
                :variant="variant"
                :readonly="!updateMode"
                density="compact"
                :rules="numberRules"
                hide-details
              />
            </v-col>
            <v-col
              cols="2"
              align="right"
            >
              Prix VA:
            </v-col>
            <v-col cols="1">
              <v-text-field
                v-model="race.priceva"
                :variant="variant"
                :readonly="!updateMode"
                density="compact"
                :rules="numberRules"
                hide-details
              />
            </v-col>
            <v-col cols="1" />
            <v-col cols="2">
              Inscriptions :
            </v-col>
            <v-col cols="1">
              {{ race.inscriptions }}/15
            </v-col>
            <v-col cols="2">
              Équipes :
            </v-col>
            <v-col cols="1">
              {{ race.teams }}/10
            </v-col>
          </v-row>
        </v-form>
        <v-row>
          <div @click="showInscriptions = !showInscriptions">
            <h4 style="display: inline">
              Inscriptions
            </h4>
            <v-icon
              v-if="!showInscriptions"
              icon="mdi-chevron-right"
            />
            <v-icon
              v-else
              icon="mdi-chevron-down"
            />
          </div>
          <v-divider class="border-opacity-25 pb-2" />
        </v-row>
        <v-row>
          <v-data-table
            v-show="showInscriptions"
            items-per-page="5"
            :headers="headersInscriptions"
            :items="inscriptions"
            item-value="id"
            class="elevation-1"
            density="compact"
          />
        </v-row>

        <v-row>
          <div @click="showTeams = !showTeams">
            <h4 style="display: inline">
              Équipes
            </h4>
            <v-icon
              v-if="!showTeams"
              icon="mdi-chevron-right"
            />
            <v-icon
              v-else
              icon="mdi-chevron-down"
            />
          </div>
          <v-divider class="border-opacity-25 pb-2" />
        </v-row>
        <v-row>
          <v-data-table
            v-show="showTeams"
            items-per-page="5"
            :headers="headersTeams"
            :items="teams"
            item-value="id"
            class="elevation-1"
            density="compact"
          />
        </v-row>
      </v-container>
    </v-main>
  </v-layout>
</template>

<script setup lang="ts">
definePageMeta({
  layout: "admin-layout",
});

type tmp_type_race = {
  id: number;
  name: string;
  inscriptions: number;
  teams: number;
  disciplines: string[];
  categorie: string;
  price: number;
  priceva: number;
};

const updateMode = ref(false);
const variant = ref<variantType>("plain");
const displayStyle = ref("none");
const valid = ref(null);
const showInscriptions = ref(false);
const showTeams = ref(false);
const race = ref<tmp_type_race>({} as tmp_type_race);
const races = [
  {
    id: 1,
    name: "Triathlon1",
    inscriptions: 1,
    teams: 2,
    disciplines: ["Vélo", "Course à pied", "Natation"],
    categorie: "Solo",
    price: 24,
    priceva: 12,
  },
  {
    id: 2,
    name: "Triathlon2",
    inscriptions: 2,
    teams: 2,
    disciplines: ["Vélo", "Course à pied", "Natation"],
    categorie: "Solo",
    price: 24,
    priceva: 12,
  },
  {
    id: 3,
    name: "Triathlon3",
    inscriptions: 3,
    teams: 2,
    disciplines: ["Vélo", "Course à pied", "Natation"],
    categorie: "Solo",
    price: 24,
    priceva: 12,
  },
  {
    id: 4,
    name: "Triathlon4",
    inscriptions: 4,
    teams: 2,
    disciplines: ["Vélo", "Course à pied", "Natation"],
    categorie: "Solo",
    price: 24,
    priceva: 12,
  },
];
const disciplines = ["Natation", "Course à pied", "Vélo", "Roller"];
const categories = ["Solo", "Pas solo"];
const numberRules = [
  (value: string) => {
    if (/[0-9]+/.test(value)) {
      return true;
    }

    return "Le montant doit être un nombre.";
  },
];
const inscriptions = [
  {
    athlete: "AAA aaa",
    email: "aaa@gmail.com",
    team: "Team1",
    va: false,
    certificate: "Validé",
    payment: "Validé",
    inscription: "Validée",
  },
  {
    athlete: "BBB bbb",
    email: "bbb@gmail.com",
    team: "Team1",
    va: false,
    certificate: "Validé",
    payment: "Non Validé",
    inscription: "Validée",
  },
  {
    athlete: "CCC ccc",
    email: "ccc@gmail.com",
    team: "Team2",
    va: true,
    certificate: "Non Validé",
    payment: "Validé",
    inscription: "Non Validée",
  },
];
const headersInscriptions = [
  {
    title: "Athlète",
    align: "start",
    key: "athlete",
  },
  { title: "Email", align: "start", key: "email" },
  { title: "Équipe", align: "start", key: "team" },
  { title: "VA", align: "center", key: "va" },
  { title: "Certificat", align: "center", key: "certificate" },
  { title: "Paiement", align: "center", key: "payment" },
  { title: "Inscription", align: "center", key: "inscription" },
] as TableHeaders;
const headersTeams = [
  {
    title: "Équipe",
    align: "start",
    key: "name",
  },
  { title: "Membres", align: "center", key: "members" },
  { title: "Inscriptions Complétées", align: "center", key: "validated" },
] as TableHeaders;
const teams = [
  {
    name: "Team 1",
    members: "3/4",
    validated: "1/3",
  },
  {
    name: "Team 2",
    members: "2/4",
    validated: "1/2",
  },
];
loadData();
function loadData() {
  const raceId = parseInt(useRoute().params.id.toString());
  race.value = races.find((r: { id: number }) => r.id === raceId) as {
    id: number;
    name: string;
    inscriptions: number;
    teams: number;
    disciplines: string[];
    categorie: string;
    price: number;
    priceva: number;
  };
}
function updateRace() {
  updateMode.value = !updateMode.value;
  variant.value = updateMode.value ? "outlined" : "plain";
  displayStyle.value = updateMode.value ? "true" : "none";
}
</script>

<style lang="scss">
.input-field {
  .v-select__menu-icon {
    display: v-bind("displayStyle");
  }
}
</style>
