<template>
  <v-layout>
    <v-main>
      <h1>Page des courses</h1>
      <v-data-table
        v-model:items-per-page="itemsPerPage"
        :headers="headers"
        :items="races"
        item-value="name"
        class="elevation-1"
      />
    </v-main>
  </v-layout>
</template>

<script setup lang="ts">
definePageMeta({
  layout: "admin-layout",
});

const itemsPerPage = 2;
const headers = [
  {
    title: "Nom",
    align: "start",
    key: "name",
  },
  { title: "Nombre de participants", align: "end", key: "inscriptions" },
  { title: "Nombre d'équipes", align: "end", key: "teams" },
  {
    title: "Discipline(s)",
    align: "end",
    key: "disciplines",
    sortable: false,
  },
  { title: "Catégorie", align: "end", key: "categorie", sortable: false },
  { title: "Tarif", align: "end", key: "price" },
  { title: "Tarif VA", align: "end", key: "priceva" },
] as TableHeaders;
const races = [
  {
    name: "Triathlon",
    inscriptions: 1,
    teams: 2,
    disciplines: ["Vélo", "Course à pied", "Natation"],
    categorie: "Solo",
    price: 24,
    priceva: 12,
  },
  {
    name: "Triathlon",
    inscriptions: 2,
    teams: 2,
    disciplines: ["Vélo", "Course à pied", "Natation"],
    categorie: "Solo",
    price: 24,
    priceva: 12,
  },
  {
    name: "Triathlon",
    inscriptions: 3,
    teams: 2,
    disciplines: ["Vélo", "Course à pied", "Natation"],
    categorie: "Solo",
    price: 24,
    priceva: 12,
  },
  {
    name: "Triathlon",
    inscriptions: 4,
    teams: 2,
    disciplines: ["Vélo", "Course à pied", "Natation"],
    categorie: "Solo",
    price: 24,
    priceva: 12,
  },
];
</script>
