<template>
  <v-layout>
    <v-main class="main-container">
      <v-container
        class="ma-2"
        fluid
      >
        <v-form
          v-model="valid"
          @submit.prevent="updateEdition()"
        >
          <v-row>
            <v-col
              cols="3"
              class="pt-0 ps-0"
            >
              <h2 v-if="!updateMode">
                {{ edition.name }} (Édition)
              </h2>
              <v-text-field
                v-else
                v-model="updatedName"
                :variant="variant"
                :readonly="!updateMode"
                :rules="rules"
                hide-details
              />
              <v-divider class="border-opacity-25" />
            </v-col>
            <v-col
              align="right"
              class="pt-0"
            >
              <v-btn
                v-if="updateMode"
                color="success"
                :disabled="!valid"
                type="submit"
              >
                Confirmer
              </v-btn>
              <v-btn
                class="ms-2"
                color="warning"
                @click="toggleUpdateMode()"
              >
                {{ updateMode ? "Annuler" : "Modifier" }}
              </v-btn>
            </v-col>
          </v-row>

          <v-row>
            <v-col class="pa-0 ps-3 pb-3">
              <b>{{ edition.active ? "Activée" : "Non activée" }}</b>
              <v-icon
                v-if="edition.active"
                color="success"
              >
                mdi-check
              </v-icon>
              <v-icon
                v-else
                color="error"
                class="me-3"
              >
                mdi-close
              </v-icon>
              <v-btn
                v-if="!edition.active"
                color="info"
                @click="activateEdition()"
              >
                Activer
              </v-btn>
            </v-col>
          </v-row>

          <v-row
            no-gutter
            align="start"
          >
            <v-col> Début de la course : </v-col>
            <v-col
              class="pa-0"
              cols="4"
            >
              <v-text-field
                v-if="updateMode"
                v-model="updatedStartDateString"
                :variant="variant"
                :readonly="!updateMode"
                density="compact"
                hide-details
                type="datetime-local"
              />
              <div
                v-else
                class="pa-3"
              >
                {{ formateDateDisplay(edition.startDate) }}
              </div>
            </v-col>
            <v-col> Fin de la course : </v-col>
            <v-col
              class="pa-0"
              cols="5"
            >
              <v-text-field
                v-if="updateMode"
                v-model="updatedEndDateString"
                :variant="variant"
                :readonly="!updateMode"
                density="compact"
                hide-details
                type="datetime-local"
              />
              <div
                v-else
                class="pa-3"
              >
                {{ formateDateDisplay(edition.endDate) }}
              </div>
            </v-col>
          </v-row>

          <v-row
            no-gutter
            align="start"
          >
            <v-col cols="2">
              Ouverture des inscriptions :
            </v-col>
            <v-col
              class="pa-0"
              cols="3"
            >
              <v-text-field
                v-if="updateMode"
                v-model="updatedRegistrationStartDateString"
                :variant="variant"
                :readonly="!updateMode"
                density="compact"
                hide-details
                type="datetime-local"
              />
              <div
                v-else
                class="pa-3"
              >
                {{ formateDateDisplay(edition.registrationStartDate) }}
              </div>
            </v-col>
            <v-col cols="2">
              Fermeture des inscriptions :
            </v-col>
            <v-col
              class="pa-0"
              cols="4"
            >
              <v-text-field
                v-if="updateMode"
                v-model="updatedRegistrationEndDateString"
                :variant="variant"
                :readonly="!updateMode"
                density="compact"
                hide-details
                type="datetime-local"
              />
              <div
                v-else
                class="pa-3"
              >
                {{ formateDateDisplay(edition.registrationEndDate) }}
              </div>
            </v-col>
          </v-row>
        </v-form>
        <v-row class="pt-5">
          <h4>Course caritative</h4>
          <v-divider class="border-opacity-25 pb-2" />
        </v-row>
        <v-row v-if="donationAmount">
          Montant récolté : {{ donationAmount }}€
        </v-row>
        <v-row><FundraiserEditor :edition-id="editionId" /></v-row>
      </v-container>
    </v-main>
  </v-layout>
</template>

<script setup lang="ts">
definePageMeta({
  layout: "admin-layout",
});
const route = useRoute();
const editionId = parseInt(route.params.id.toString());
const editionStore = useEditionStore();
await editionStore.setEditionById(editionId);
const edition = computed(() => editionStore.edition);

const donationAmount = (
  await PaymentRepository.getDonationAmountByEdition(editionId)
)?.result;
const updatedName = ref(edition.value.name);
const updatedStartDateString = ref(htmlInputDateTime(edition.value.startDate));
const updatedEndDateString = ref(htmlInputDateTime(edition.value.endDate));
const updatedRegistrationStartDateString = ref(
  htmlInputDateTime(edition.value.registrationStartDate),
);
const updatedRegistrationEndDateString = ref(
  htmlInputDateTime(edition.value.registrationEndDate),
);

const updateMode = ref(false);
const variant = ref<variantType>("plain");
const valid = ref(null);
const rules = [required];
updateMode.value = route.query.update === "true";
variant.value = updateMode ? "outlined" : "plain";
async function updateEdition() {
  if (updateMode.value) {
    await editionStore.updateEdition(editionId, {
      name: updatedName.value,
      startDate: new Date(updatedStartDateString.value),
      endDate: new Date(updatedEndDateString.value),
      registrationStartDate: new Date(updatedRegistrationStartDateString.value),
      registrationEndDate: new Date(updatedRegistrationEndDateString.value),
    });
    resetUpdatedEdition();
  }
  toggleUpdateMode();
}
async function activateEdition() {
  await editionStore.activateEdition(editionId);
  resetUpdatedEdition();
}
function toggleUpdateMode() {
  updateMode.value = !updateMode.value;
  variant.value = updateMode.value ? "outlined" : "plain";
  resetUpdatedEdition();
}
function resetUpdatedEdition() {
  updatedName.value = edition.value.name;
  updatedStartDateString.value = htmlInputDateTime(edition.value.startDate);
  updatedEndDateString.value = htmlInputDateTime(edition.value.endDate);
  updatedRegistrationStartDateString.value = htmlInputDateTime(
    edition.value.registrationStartDate,
  );
  updatedRegistrationEndDateString.value = htmlInputDateTime(
    edition.value.registrationEndDate,
  );
}
</script>

<style></style>
