<template>
  <v-layout>
    <v-main class="main-container">
      <v-dialog
        v-model="showCreate"
        width="800"
      >
        <ModalCreateEdition
          v-show="showCreate"
          @close-create-edition-modal="showCreate = false"
        />
      </v-dialog>
      <v-container
        class="ma-2"
        fluid
      >
        <v-row>
          <v-col
            cols="3"
            class="pt-0 ps-0"
          >
            <h2>Éditions</h2>
            <v-divider class="border-opacity-25" />
          </v-col>
        </v-row>
        <v-row
          justify="end"
          class="pb-3 pe-3"
        >
          <v-btn
            color="info"
            @click="showCreate = true"
          >
            Ajouter
          </v-btn>
          <v-btn
            icon="mdi-refresh"
            color="blue-lighten-4"
            size="x-small"
            class="ms-3"
            @click="editionStore.fetchEditions({ forceReload: true })"
          />
        </v-row>
        <v-data-table
          :headers="headers"
          :items="editions"
          item-value="id"
          items-per-page="5"
          class="elevation-1 ma-2"
        >
          <template #[`item.name`]="{ item }">
            <NuxtLink :to="'/admin/editions/' + item.id">
              {{ item.name }}
            </NuxtLink>
          </template>
          <template #[`item.startDate`]="{ item }">
            {{ formateDateDisplay(item.startDate) }} <br>
            {{ formateDateDisplay(item.endDate) }}
          </template>
          <template #[`item.registrationStartDate`]="{ item }">
            {{ formateDateDisplay(item.registrationStartDate) }} <br>
            {{ formateDateDisplay(item.registrationEndDate) }}
          </template>
          <template #[`item.active`]="{ item }">
            <v-icon
              v-if="item.active"
              color="success"
            >
              mdi-check
            </v-icon>
            <v-icon
              v-else
              color="error"
            >
              mdi-close
            </v-icon>
          </template>
          <template #[`item.controls`]="{ item }">
            <v-btn
              class="ma-1"
              color="warning"
              :to="'/admin/editions/' + item.id + '?update=true'"
            >
              Modifier
            </v-btn>
            <v-btn
              color="success"
              :disabled="item.active"
              @click="activateEdition(item.id)"
            >
              Activer
            </v-btn>
          </template>
        </v-data-table>
      </v-container>
    </v-main>
  </v-layout>
</template>

<script setup lang="ts">
definePageMeta({
  layout: "admin-layout",
});
const editionStore = useEditionStore();
editionStore.fetchEditions();
const editions = computed(() => editionStore.editions);
const headers = [
  { title: "Nom", align: "center", key: "name" },
  { title: "Dates de la course", align: "center", key: "startDate" },
  {
    title: "Dates des inscriptions",
    align: "center",
    key: "registrationStartDate",
  },
  { title: "Course caritative", align: "center", key: "fundraiser" },
  { title: "Activée", align: "center", key: "active" },
  { title: "Actions", key: "controls", sortable: false, align: "center" },
] as TableHeaders;
const showCreate = ref(false);
async function activateEdition(editionId: number) {
  await editionStore.activateEdition(editionId);
}
</script>
