<template>
  <v-card>
    <v-card-title>Course et équipe</v-card-title>
    <v-divider />
    <v-card-text>
      <v-container>
        <v-form
          v-model="valid"
          @submit.prevent="validate"
        >
          <v-row>
            <v-col>
              <v-btn-toggle
                v-model="teamChoice"
                color="primary"
                variant="outlined"
                density="comfortable"
                mandatory
              >
                <v-btn :value="TeamOption.JOIN_TEAM">
                  Rejoindre une équipe
                </v-btn>
                <v-btn :value="TeamOption.NEW_TEAM">
                  Créer une équipe
                </v-btn>
                <v-btn :value="TeamOption.SOLO">
                  Course solo
                </v-btn>
              </v-btn-toggle>
            </v-col>
            <v-col>
              <v-select
                v-model="disciplineIds"
                :items="disciplines"
                item-title="name"
                item-value="id"
                multiple
                clearable
                variant="outlined"
                density="compact"
                label="Discipline(s) de la course"
              />
            </v-col>
            <v-col>
              <v-select
                v-model="categoryId"
                :items="
                  teamChoice === TeamOption.SOLO
                    ? categoriesSolo
                    : categoriesMulti
                "
                :item-props="categoryProps"
                clearable
                label="Catégorie de la course"
                variant="outlined"
                density="compact"
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-autocomplete
                v-model="selectedRace"
                :items="filteredRaces"
                item-title="name"
                item-value="id"
                placeholder="Sélectionner votre course"
                auto-select-first
                clearable
                no-data-text="Aucune course trouvée (Vérifiez vos filtres)"
                :rules="[required]"
              />
            </v-col>
            <v-col v-if="teamChoice === TeamOption.JOIN_TEAM">
              <v-autocomplete
                v-model="selectedTeam"
                :items="filteredTeams"
                :item-title="displayTeam"
                item-value="id"
                placeholder="Sélectionner votre équipe"
                auto-select-first
                no-data-text="Aucune équipe trouvée (Vérifiez vos filtres)"
                :rules="[required]"
              />
            </v-col>
            <v-col v-if="teamChoice === TeamOption.JOIN_TEAM">
              <v-text-field
                v-model="token"
                label="Token de l'équipe"
                :rules="[required]"
              />
            </v-col>
            <v-col v-if="teamChoice === TeamOption.NEW_TEAM">
              <v-text-field
                v-model="teamName"
                label="Nom de votre équipe"
                :rules="[required]"
              />
            </v-col>
          </v-row>
          <v-row justify="end">
            <v-btn
              type="submit"
              color="success"
              :loading="loading"
            >
              Valider
            </v-btn>
          </v-row>
        </v-form>
      </v-container>
    </v-card-text>
  </v-card>
</template>

<script setup lang="ts">
import {
  InscriptionCreationDto,
  TeamCreatedDto,
  type Category,
  type Discipline,
  type RaceLiteResponseDto,
} from "@overrun/types";
import { CompleteTeamDto } from "@overrun/types";

const emit = defineEmits({
  register: null,
});

const userStore = useUserStore();
const userId = computed(() => userStore.getMe.id);
const editionId = computed(() => useEditionStore().activeEdition?.id);

enum TeamOption {
  SOLO,
  NEW_TEAM,
  JOIN_TEAM,
}

const selectedTeam = ref(null as null | number);
const selectedRace = ref(null as null | number);
const teams = ref([] as CompleteTeamDto[]);
const categoriesMulti = ref([] as Category[]);
const categoriesSolo = ref([] as Category[]);
const disciplines = ref([] as Discipline[]);
const races = ref([] as RaceLiteResponseDto[]);
const teamName = ref("");

const categoryId = ref(null);
const disciplineIds = ref([] as number[]);

const valid = ref(false);
const teamChoice = ref(TeamOption.JOIN_TEAM);
const token = ref("");
const loading = ref(false);

CategoryRepository.getCategories(editionId.value).then((lst) => {
  (lst ?? []).forEach((cat) =>
    isSolo(cat.minTeamMembers, cat.maxTeamMembers)
      ? categoriesSolo.value.push(cat)
      : categoriesMulti.value.push(cat),
  );
});
TeamRepository.getTeamsForSelection(editionId.value).then((lst) => {
  teams.value = lst ?? [];
});
DisciplineRepository.getDisciplines(editionId.value).then((lst) => {
  disciplines.value = lst ?? [];
});
RaceRepository.getRaces(editionId.value).then((lst) => {
  races.value = lst ?? [];
});

const filteredTeams = computed(() =>
  teams.value.filter((team) => {
    return selectedRace.value !== null
      ? team.raceId === selectedRace.value
      : filteredRaces.value.some((race) => race.id === team.raceId);
  }),
);

const filteredRaces = computed(() =>
  races.value.filter((race) => {
    return (
      (categoryId.value === null || categoryId.value === race.category?.id) &&
      (disciplineIds.value.length === 0 || checkRaceDisciplines(race)) &&
      (teamChoice.value === TeamOption.SOLO) ===
        isSolo(
          race.category?.minTeamMembers ?? 0,
          race.category?.maxTeamMembers ?? 0,
        )
    );
  }),
);

function displayTeam(team: CompleteTeamDto) {
  return team.name + ` (${team.freeSpots} places restantes)`;
}

function checkRaceDisciplines(race: RaceLiteResponseDto): boolean {
  return !disciplineIds.value.some(
    (id) => !race.disciplines?.map((dd) => dd.id).includes(id),
  );
}
function categoryProps(category: Category) {
  return {
    title: category.name + " (" + sizeCategory(category) + ")",
    value: category.id,
  };
}
function updateAfterFilter() {
  const team = filteredTeams.value.find((t) => t.id === selectedTeam.value);
  const race = filteredRaces.value.find((r) => r.id === selectedRace.value);
  selectedTeam.value = team?.id ?? null;
  selectedRace.value = race?.id ?? null;
}

function validate() {
  if (!valid.value) return;

  //selon le choix de l'utilisateur, on
  //crée une team au préalable et on
  //attend la confirmation de création pour
  //inscrire l'utilisateur.
  loading.value = true;
  const teamPromise: Promise<TeamCreatedDto | null> =
    teamChoice.value === TeamOption.NEW_TEAM
      ? TeamRepository.createTeam({
          raceId: selectedRace.value as number,
          name: teamName.value,
        })
      : new Promise((resolve, _reject) => resolve(null));

  teamPromise.then(async (team) => {
    let teamDto;
    switch (teamChoice.value) {
      case TeamOption.JOIN_TEAM:
        teamDto = {
          teamId: selectedTeam.value as number,
          isAdmin: false,
          teamToken: token.value,
        };
        break;
      case TeamOption.SOLO:
        teamDto = undefined;
        break;
      case TeamOption.NEW_TEAM:
        teamDto = {
          teamId: team!.idTeam,
          isAdmin: true,
          teamToken: team!.token,
        };
        break;
    }
    const dto: InscriptionCreationDto = {
      userId: userId.value,
      raceId: selectedRace.value as number,
      team: teamDto,
    };
    const registration = await InscriptionRepository.register(dto);
    if (!registration) {
      loading.value = false;
      return;
    }

    userStore.register(registration);
    const va = await VaRepository.findVa(
      registration.firstName,
      registration.lastName,
    );

    emit("register", {
      createTeam: teamChoice.value === TeamOption.NEW_TEAM,
      token: team?.token,
      vaMail: va?.vaMail,
    });

    loading.value = false;
  });
}

watch(categoryId, async () => {
  updateAfterFilter();
});

watch(disciplineIds, async () => {
  updateAfterFilter();
});

watch(selectedRace, async () => {
  updateAfterFilter();
});

watch(teamChoice, async () => {
  updateAfterFilter();
});

watch(selectedTeam, async () => {
  if (selectedRace.value === null) {
    selectedRace.value =
      teams.value.find((t) => t.id === selectedTeam.value)?.raceId ?? null;
    teamName.value = "";
  }
});
</script>
