<template>
  <v-card>
    <v-card-title>Enregistrer ma carte VA</v-card-title>
    <v-card-subtitle>
      La carte VA est délivrée aux étudiants de l'INSA Lyon par le Bureau des
      Élèves.
      <br>
      Une adhésion <strong>VAvantages</strong> est nécessaire pour profiter du
      tarif VA.
      <br>
      Si vous n'êtes pas concerné(e), cliquez sur "Renseigner plus tard".
    </v-card-subtitle>
    <v-divider />
    <v-card-text>
      <v-container>
        <v-form
          v-model="valid"
          @submit.prevent="submitVA()"
        >
          <v-row v-if="errorVA">
            <v-col>
              <v-alert
                :text="errorVA"
                density="compact"
                variant="tonal"
                type="error"
              />
            </v-col>
          </v-row>
          <v-row v-if="currentVa">
            <v-alert
              border="start"
              type="success"
              variant="tonal"
            >
              Votre carte VAvantages a bien été enregistrée.
            </v-alert>
          </v-row>
          <v-row v-else-if="!deny">
            <v-alert
              border="start"
              type="info"
              variant="tonal"
            >
              Vous avez une adhésion VAvantages enregistrée avec le mail
              <strong>{{ mail }}</strong>.
              <v-btn
                color="success"
                variant="outlined"
                class="ma-1"
                @click="confirmVA"
              >
                Confirmer
              </v-btn>
              <v-btn
                color="error"
                variant="outlined"
                class="ma-1"
                @click="() => (deny = true)"
              >
                Ce n'est pas moi
              </v-btn>
            </v-alert>
          </v-row>
          <v-row v-else>
            <v-col>
              <v-text-field
                v-model="vaNumber"
                label="Numéro de carte VA"
                :rules="[required, isVaNumber]"
              />
            </v-col>
          </v-row>
          <v-row
            v-if="!currentVa && deny"
            no-gutters
            justify="end"
          >
            <v-btn
              type="submit"
              color="success"
            >
              Enregistrer
            </v-btn>
          </v-row>
        </v-form>
      </v-container>
    </v-card-text>
  </v-card>
</template>

<script setup lang="ts">
import { VAStatus } from "@overrun/types";

const emit = defineEmits({
  "close-component-va": null,
});
const props = defineProps({
  mail: {
    required: false,
    type: String,
    default: "",
  },
});

const valid = ref(null);
const vaNumber = ref("");
const status = ref(null as VAStatus | null);
const userStore = useUserStore();
const currentVa = computed(() => !!userStore.getMe.currentInscription.va);
const deny = ref(!props.mail);

const errorVA = computed(() => {
  switch (status.value) {
    case VAStatus.VALIDATED:
      return "";
    case VAStatus.NOT_MEMBER:
      return "Aucun compte VA trouvé avec ces identifiants.";
    case VAStatus.INVALID:
      return "Ce compte VA n'est pas actif. Si vous pensez qu'il s'agit d'une erreur, nous vous invitons à contacter le BDE.";
    case VAStatus.ALREADY_USED:
      return "Cet identifiant VA est déjà utilisé pour une autre inscription. Si vous pensez qu'il s'agit d'une erreur, vous pouvez nous contacter.";
    case VAStatus.EDB_ERROR:
      return "Une erreur s'est produite lors de la vérification de la carte auprès du BDE. Merci de réessayer plus tard.";
    case VAStatus.NOT_FOUND: //fallthrough car ne devrait pas arriver.
    case VAStatus.UNKNOWN_ERROR:
      return "Une erreur s'est produite. Merci de réessayer plus tard.";
  }
});

function submitVA() {
  if (!valid.value) return;
  VaRepository.register({
    vaNumber: vaNumber.value,
  }).then(({ status: vaStatus }) => {
    status.value = vaStatus;
    if (vaStatus === VAStatus.VALIDATED) {
      userStore.validateVaStatus(true);
      emit("close-component-va");
    }
  });
}

function confirmVA() {
  VaRepository.confirm(props.mail).then(({ status: vaStatus }) => {
    status.value = vaStatus;
    if (vaStatus === VAStatus.VALIDATED) {
      userStore.validateVaStatus(true);
      emit("close-component-va");
    }
  });
}
</script>
