<template>
  <v-card>
    <v-card-title>Inviter votre équipe</v-card-title>
    <v-divider />
    <v-card-text>
      <v-container>
        <v-form
          v-model="valid"
          @submit.prevent="addEmail"
        >
          <v-row>
            <v-alert
              type="info"
              variant="tonal"
              density="compact"
              text="Vous pouvez inviter des athlètes à rejoindre votre équipe, par mail ou en leur transmettant le token de l'équipe.
             Vous pouvez inviter autant de personnes que vous le souhaitez mais la taille de l'équipe est limitée.
             Vous pourrez de nouveau inviter des athlètes depuis votre dashboard."
            />
          </v-row>
          <v-row>
            <v-col cols="auto">
              <v-list>
                <v-list-item
                  variant="tonal"
                  rounded="lg"
                  :title="token"
                  :value="token"
                  append-icon="mdi-content-copy"
                  @click="copyToken"
                />
              </v-list>
            </v-col>
            <v-col
              cols="3"
              style="align-content: center"
            >
              <v-alert
                v-show="copyMsg"
                density="compact"
                :type="alertType"
                variant="outlined"
                bor
              >
                {{ copyMsg }}
              </v-alert>
            </v-col>
          </v-row>
          <v-row>
            <v-text-field
              v-model="inputEmail"
              type="email"
              :rules="rules"
              label="Adresse mail"
            >
              <template #append>
                <v-btn
                  icon="mdi-plus"
                  density="compact"
                  type="submit"
                />
              </template>
            </v-text-field>
          </v-row>
          <v-row>
            <v-list style="width: 100%">
              <v-list-item
                v-for="({ email, sent }, idx) in registeredEmails"
                :key="idx + '-' + email"
                :title="email"
                density="compact"
                variant="tonal"
              >
                <template #append>
                  <v-icon
                    v-if="!sent"
                    aria-label="Supprimer"
                    icon="mdi-delete"
                    @click="deleteEmail(email)"
                  />
                  <v-icon
                    v-else
                    label="Envoyé !"
                    icon="mdi-email-check"
                  />
                </template>
              </v-list-item>
            </v-list>
          </v-row>
          <v-row justify="end">
            <v-btn
              color="info"
              :disabled="registeredEmails.length < 1"
              @click="sendMail()"
            >
              Inviter
            </v-btn>
          </v-row>
        </v-form>
      </v-container>
    </v-card-text>
  </v-card>
</template>

<script setup lang="ts">
const props = defineProps({
  token: {
    required: true,
    type: String,
    default: "",
  },
});

const valid = ref(null);
const inputEmail = ref("");
const registeredEmails = ref([] as { email: string; sent: boolean }[]);
const expression: RegExp = /^[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,}$/i;
const copyMsg = ref(undefined as undefined | string);
const alertType = ref(undefined as undefined | "success" | "error");

const rules = [
  (value: string) => !!value || "Champ vide",
  (value: string) => expression.test(value) || "Mauvais format de mail",
  (value: string) =>
    !registeredEmails.value.some(({ email }) => email === value) ||
    "Mail déjà enregistré",
];

function addEmail() {
  if (!valid.value) return;
  registeredEmails.value.push({ email: inputEmail.value, sent: false });
  inputEmail.value = "";
  valid.value = null;
}

function deleteEmail(val: string) {
  registeredEmails.value = registeredEmails.value
    .filter(({ sent }) => !sent)
    .filter(({ email }) => val !== email);
}

async function sendMail() {
  //TODO brancher au back pour envoyer des mails
  registeredEmails.value = registeredEmails.value.map(({ email }) => {
    return { email, sent: true };
  });
}

async function copyToken() {
  try {
    await navigator.clipboard.writeText(props.token ?? "");
    copyMsg.value = "Le token d'équipe a été copié.";
    alertType.value = "success";
  } catch {
    copyMsg.value = "Une erreur s'est produite";
    alertType.value = "error";
  }
}
</script>
