<template>
  <v-card>
    <v-card-title>Réaliser mon paiement</v-card-title>
    <v-divider />
    <v-card-text>
      <FundraiserDisplay
        v-if="fundraiserContent"
        :content="fundraiserContent"
      />
      <v-container>
        <v-row v-if="!isVA">
          <v-col>
            <v-alert
              :text="warningVA"
              density="compact"
              variant="tonal"
              closable
              type="warning"
            />
          </v-col>
        </v-row>
        <v-form
          v-model="valid"
          @submit.prevent="submitPayment()"
        >
          <v-row>
            <v-col>
              <v-slider
                v-model="donation"
                label="Montant du don"
                min="0"
                step="1"
                color="primary"
                class="align-center"
                hide-details
              >
                <template #append>
                  <v-text-field
                    v-model.number="donation"
                    type="number"
                    append-icon="mdi-currency-eur"
                    :rules="[isNumber, positiveNumber]"
                    density="compact"
                    hide-details
                    single-line
                    style="width: 120px"
                  />
                </template>
              </v-slider>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-table
                density="compact"
                style="
                  border: outset;
                  border-radius: 5px;
                  border-color: #374785;
                "
                class="mb-2"
              >
                <thead>
                  <tr>
                    <th class="text-left">
                      <b>Course</b>
                    </th>
                    <th class="text-left">
                      <b>Prix</b>
                    </th>
                    <th class="text-left">
                      <b>Don</b>
                    </th>
                    <th class="text-left">
                      <b>Total</b>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ myInscription?.race.name }}</td>
                    <td>
                      {{ price }}€
                      {{ isVA ? "(VA)" : "(non VA)" }}
                    </td>
                    <td>{{ donation }}€</td>
                    <td>{{ donation + price }}€</td>
                  </tr>
                </tbody>
              </v-table>
            </v-col>
          </v-row>
          <v-row
            justify="space-between"
            align="end"
          >
            <v-btn
              v-show="!inscription"
              color="warning"
              class="me-1"
              @click="close()"
            >
              Payer plus tard
            </v-btn>
            <HelloassoButton />
          </v-row>
        </v-form>
      </v-container>
    </v-card-text>
  </v-card>
</template>

<script setup lang="ts">
import type { CreatePaymentDto } from "@overrun/types";

defineProps({
  inscription: Boolean,
});
const emit = defineEmits({
  "close-component-payment": null,
});
const userStore = useUserStore();
const editionStore = useEditionStore();
const snackbar = useSnackbar();

const isVA = computed(() => userStore.getMe.currentInscription?.va);
const price = computed(() =>
  isVA.value
    ? centsToEuros(userStore.getMe.currentInscription?.race.vaRegistrationPrice)
    : centsToEuros(userStore.getMe.currentInscription?.race.registrationPrice),
);
const myInscription = computed(() => userStore.getMe.currentInscription);
const warningVA =
  "Votre carte VA n'est renseignée, aucune réduction ne s'applique. Si vous n'êtes pas étudiant à l'INSA Lyon, vous pouvez ignorer ce message.";

const valid = ref(null);
const donation = ref(5);

const fundraiserContent = computed(
  () => editionStore.activeEdition.fundraiser?.description,
);

function submitPayment() {
  if (!valid.value) return;

  const checkout: CreatePaymentDto = {
    inscriptionId: userStore.getMe.currentInscription?.id,
    raceAmount: eurosToCents(price.value),
    donationAmount: eurosToCents(donation.value),
    paymentLabel: `Course ${userStore.getMe.currentInscription?.race.name} - Athlète ${userStore.getMe.firstName} ${userStore.getMe.lastName}`,
  };

  PaymentRepository.createCheckoutIntent(checkout)
    .then((data) => {
      const { checkoutUrl } = data ?? {};
      if (checkoutUrl) {
        navigateTo(checkoutUrl, { external: true });
      } else {
        snackbar.openSnackbar(
          "error",
          "Une erreur s'est produite. Veuillez réessayer dans quelques instants",
        );
      }
    })
    .catch(() => {
      snackbar.openSnackbar(
        "error",
        "Une erreur s'est produite. Veuillez réessayer dans quelques instants",
      );
    });
}
function close() {
  emit("close-component-payment");
}
</script>
