<template>
  <v-card>
    <v-card-title>
      {{ action }} mon certificat
      <v-icon
        v-if="tooltip"
        v-tooltip="tooltip"
        size="x-small"
        icon="mdi-help-circle"
      />
    </v-card-title>
    <!-- TODO mettre un lien vers le réglement des courses ?-->
    <!-- Nécessite de donner aux pédales la possibilité de le mettre à jour eux-même -->
    <v-card-subtitle>
      Vous devez fournir un certificat médical datant de moins d’un an attestant
      de l’aptitude à la pratique <br>
      de la discipline en compétition, ou une photocopie d'une licence en cours
      de validité.<br>
      Vous trouverez plus de détails dans le réglement des courses.
    </v-card-subtitle>
    <v-divider />
    <v-card-text>
      <v-container>
        <v-form
          v-model="valid"
          @submit.prevent="submitCertificate()"
        >
          <v-row>
            <v-file-input
              v-model="file"
              :accept="accept"
              :rules="[required, ([{ name }]) => checkFileExtension(name)]"
            />
          </v-row>
          <v-row
            no-gutters
            justify="end"
          >
            <v-btn
              v-show="!inscription"
              color="warning"
              class="me-1"
              @click="close()"
            >
              Ajouter plus tard
            </v-btn>
            <v-btn
              type="submit"
              color="success"
            >
              Enregistrer
            </v-btn>
          </v-row>
        </v-form>
      </v-container>
    </v-card-text>
  </v-card>
</template>

<script setup lang="ts">
import { FILE_EXTENSIONS } from "@overrun/constant";
import { CertificateStatus } from "@overrun/types";

const props = defineProps({
  inscription: Boolean,
  status: {
    type: String as PropType<CertificateStatus | undefined>,
    default: undefined,
  },
});
const emit = defineEmits({
  "close-component-certificate": null,
});
const userStore = useUserStore();
const valid = ref(null);
const file = ref(undefined as File | undefined);
const tooltip = computed(() => {
  if (props.status === CertificateStatus.PENDING) {
    return "Ajouter un nouveau document remplacera le document actuel.";
  } else if (props.status === CertificateStatus.REFUSED) {
    return "Votre certificat a été refusé, un mail à ce sujet vous a été envoyé. Veuillez fournir un nouveau document.";
  }
  return undefined;
});
const action = computed(() => {
  return props.status ? "Modifier" : "Ajouter";
});
const accept = Object.values(FILE_EXTENSIONS)
  .map(({ typeMime }) => typeMime)
  .join(",");

function submitCertificate() {
  if (!valid.value || !file.value) return;

  const formData = new FormData();
  formData.append("file", file.value);

  FileRepository.uploadCertificate(formData).then((data) => {
    if (data) {
      userStore.register(data);
      useSnackbar().openSnackbar("success", "Certificat envoyé avec succès.");
    } else {
      useSnackbar().openSnackbar("error", "Une erreur s'est produite.");
    }
  });
  close();
}
function close() {
  emit("close-component-certificate");
}
</script>
