<template>
  <v-card>
    <v-card-title>Annuler mon inscription</v-card-title>
    <v-divider />
    <v-card-text>
      <v-form @submit.prevent="cancelInscription">
        <v-container>
          <v-row>
            <v-alert
              :text="warningCancel"
              density="compact"
              variant="tonal"
              type="error"
            />
          </v-row>
          <v-row>
            <v-col>
              En cas d'erreur, vous pouvez demander à annuler votre inscription.
              Une fois votre paiement remboursé, votre inscription sera annulée
              par un administrateur. Vous pourrez ensuite vous inscrire à
              nouveau. Merci de préciser la raison pour laquelle vous souhaitez
              annuler votre inscription.
            </v-col>
          </v-row>
          <v-row>
            <v-textarea
              v-model="comment"
              label="Raison de l'annulation"
            />
          </v-row>
          <v-row
            no-gutters
            justify="end"
          >
            <v-btn
              color="warning"
              class="me-1"
              @click="close()"
            >
              Retour
            </v-btn>
            <v-btn
              color="error"
              type="submit"
            >
              Demander l'annulation
            </v-btn>
          </v-row>
        </v-container>
      </v-form>
    </v-card-text>
  </v-card>
</template>

<script setup lang="ts">
const warningCancel = "L'annulation d'une inscription est définitive.";
const snackbar = useSnackbar();
const userStore = useUserStore();

const comment = ref("");

const emit = defineEmits({
  "close-component-cancel": null,
});

function close() {
  emit("close-component-cancel");
}

function cancelInscription() {
  InscriptionRepository.saveCancelRequest({ comment: comment.value }).then(
    (data) => {
      const color = data !== null ? "success" : "error";
      const text =
        data !== null ? "Demande prise en compte" : "Une erreur s'est produite";
      snackbar.openSnackbar(color, text);
      if (data !== null) {
        userStore.register(data);
      }
    },
  );
  close();
}
</script>
